---
layout: base
---
- for post in site.posts[0,1]
  .blogpost
    %h2
      %a{:href=>"#{site.base_url}#{post.url}"}= post.title
    .blogtagbar
      #{post.date.strftime( '%Y-%m-%d' )}
    %p
      ~ post.content
    %hr
%h2 SOMESting SPECIAL 
- for post in site.posts[1,3]
  .blogpost
    %h2
      %a{:href=>"#{site.base_url}#{post.url}"}= post.title
    .blogtagbar
      #{post.date.strftime( '%Y-%m-%d' )}
    %p
      ~ post.content
    %hr
