---
layout: base
---
- for post in site.europareise2012s[0,1]
  .blogpost
    %h2
      %a{:href=>"#{site.base_url}#{post.url}"}= post.title
    %p
      ~ post.content[0,600]

.blogpost
  %h2
    Unsere letzten Bilder
  = site.picasa.get_alben_overview
.blogpost
  %h2
    Und hier sind wir momentan
  %p
    .map{:position => "yes" , :gpx =>"#{site.base_url}/gpx/zusammenfassung.small.position.gpx"}
  %p
    %a{:href=>"#{site.base_url}/route.html"}= "[komplette Reiseroute anzeigen]"

- for post in site.europareise2012s[1,10]
  .blogpost
    %h2
      %a{:href=>"#{site.base_url}#{post.url}"}= post.title
    %p
      ~ post.content[0,600]
.blogpost
  %h2
    %a{:href=>"#{site.base_url}/archiv.html"}= "Zu den älteren Einträgen"
    
