---
title: 'Von großen Fischen und reisenden Holländern'
author: 'Marco Knuettel'
layout: buessli-europareise2012-blog
tags: [ 2012, Europa, GPX, Norwegen, Reise, Route, Urlaub ]
---
<p class="where">9.6. – 11.6. (Saltstraumen – Bodo – Lofoten (Moskenes))
</p>
<%= site.picasa.alben["2012-06-09-norwegen"].get_picture_table %>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-06-09-12-04-europa-norwegen_R.small.gpx"></div>
</p>
<p>Mittlerweile sind wir auf den Lofoten angekommen und das hier ist wirklich ein Traum! Wir haben, mal wieder, Glück mit dem Wetter, so dass sich die sonst so raue Inselkette von ihrer eher lieblichen Seite zeigt. Wobei lieblich das falsche Wort ist, eher spektakulär, grandios, einfach toll! Die Berge hier sind zwar nicht so hoch wie in Fjorden weiter südlich, dafür fallen sie viel steiler ins Meer ab, sind zackig, rauh und schroff, ohne Bäume, dafür oft mit Schnee. Und vor dieser Kulisse breitet sich dann ein weißer Sandstrand mit kristallklarem, türkis leuchtendem Wasser aus. Wie in der Karibik! Nur ohne Palmen und 20 Grad kälter. Also wieder nichts mit Baden ;-)
</p>
<%= site.picasa.alben["2012-06-10-norwegen"].get_picture_table %>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-06-10-10-43-europa-norwegen_R.small.gpx"></div>
</p>
<p>Und leider grad auch nichts mit Fischen. Die Fische sind anscheinend viel weiter im Meer draußen, so dass man mit dem Boot rausfahren müsste (Ein Ruderboot reicht dafür nicht aus, wie wir heute festgestellt haben.) Das machen hier wohl auch sehr viele der (deutschen) Touristen, die mehrere Wochen oder gar Monate hierbleiben und sich mit Fisch für das ganze Jahr versorgen. Von den Fotos auf dem Campingplatz strahlen einen glückliche, ältere Männer an, die 30 bis 65 (!) Kilo schwere Monster aus dem Meer gezogen haben. Die wiegen ja mehr als ich! Ne, dann lieber so nen kleinen, schmackhaften Dorsch! Der andere Teil der Fische landet zum Trocknen auf Gestellen und wird so zu Stock- oder Klippfisch. Anscheinend eine weltweit begehrte Spezialität, denn der Klippfisch wird bis nach Portugal und Spanien exportiert. Aber was machen die eigentlich mit den ganzen getrockneten Fischköpfen??
</p>
<p>Auf der Überfahrt auf die Lofoten (3 Stunden von Bodo nach Moskenes) haben wir auch das erste Mal andere Langzeitreisende getroffen. Ein sympathisches Paar aus Holland. Die beiden reisen mit einem noch kleineren Bus und einem Hund 7 ½ Monate durch Skandinavien und Russland bis in die Mongolei. Mensch, da kam ich mir fast ein wenig spießig vor mit unserer Runde. Aber es war echt schön, sich mal ein wenig auszutauschen und zu hören, wie die beiden das so machen. www.the-world-is-beautiful.de, wen es interessiert.
</p>
<p>Was war sonst noch so? Ach ja, wir mussten mal unsere Campinggasflasche fürs Kochen auffüllen. Aber find hier mal einen Laden, der das macht oder die verkauft. Von wegen European Standard, die Norweger interessiert das nicht. In einer Art norwegischen Obi (Hier heißt der Plantajen) haben wir zwar nicht die passende Flasche gefunden, dafür aber einen kleinen Weber-Grill im Angebot! Nur wer Geld ausgibt, kann sparen! Jetzt können wir unseren Fische oder die Würstl auch mal mit Holzkohle grillen. Und Gas haben wir heute dann doch auch noch gefunden, also passt alles. Dann geht’s mal weiter von A (so heißt witzigerweise der westlichste Ort der Lofoten) über Bo nach ... äh .. mal schauen.
</p>
<%= site.picasa.alben["2012-06-11-norwegen"].get_picture_table %>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-06-11-07-55-europa-norwegen_R.small.gpx"></div></p>
