---
title: 'Just relax'
author: 'Marco Knuettel'
layout: buessli-europareise2012-blog
tags: [ 2012, GPX, Karte, Reise, Route, Ungarn, Urlaub ]
---
<p class="where">24 – 25. August (Budapest)
</p>
<p>Es ist einfach zu warm! Über 35 Grad und die Luft kühlt in der Stadt auch nachts einfach nicht ab. Gottseidank können wir beim Bus so viele Fenster aufmachen, so dass es drinnen auch einigermaßen angenehm ist. Auf dem bevölkerten Stadtcampingplatz will man ja nicht wirklich unter freiem Himmel schlafen.
</p>
<p>Für heute hatten wir uns vorgenommen, die Markthalle samt ungarischer Spezialitäten zu besichtigen und gegen Nachmittag eventuell nochmal an einer FreeWalkingTour teilzunehmen. Als wir gemütlich beim Frühstücken saßen, sahen wir, wie neben uns eine tschechische Familie ihre Räder für die Stadt fertig machten. Dany informierte sie, dass sie ein bisschen auf ihre Räder aufpassen sollten. Kommt öfters mal was weg in der Stadt ;-) Nachdem sie gehört hatten, was uns passiert war, meinte der sympathische Mann mit einem Grinsen: „Mensch, immer diese Osteuropäer“. Er hatte mal für längere Zeit in Köln gearbeitet und konnte recht gut deutsch. Wir mussten nur wieder einmal schmunzeln, wie locker unsere östlichen Nachbarn mit ihrem Ruf umgehen.
</p>

<%= site.picasa.alben["2012-08-24-ungarn"].get_picture_table %>

<%= site.buessli.map("2012-08-24-12-37-europa-ungarn_R.small") %>

<p>In die Stadt fuhren wir heute mit den Öffentlichen. Metro und Tram, da kommt man super herum. Nachdem es so warm war, konnten wir uns erst extrem spät von unserem Sofa erheben und erreichten erst um 14 Uhr die Markthalle. Zeit für Mittagessen :-D Hier gab es nämlich alles, was das Herz begehrt. Als erstes mussten wir uns bei einem Obststand erst mal mit frischen Sachen eindecken, die wir auch gleich vollständig aufgefuttert haben. Frisches Obst war bei den Temperaturen genau das Richtige! Wir schlenderten durch die große Halle und fanden superviele tolle Stände – klar, alles nett angerichtet, damit die Touristen auch fleißig kaufen ;-) Auf der oberen Ebene mit den ganzen Imbissständen konnte ich mich dann nicht mehr zurückhalten. Den ungarischen Monsterburger musste ich probieren :-D. Mir war zwar klar, dass das bei den Temperaturen bestimmt nicht so sinnvoll ist, aber da bin ich einfach zu schwach :-D. Das Mädel hinter der Theke bastelte das riesige Teil zusammen und ich war nur erstaunt, was die da alles draufpackte. Kein Wunder, dass unsere Stadtführerin am Tag zuvor meinte: „In Ungarn sterben viele Leute an Herzinfarkt wegen dem mitunter zu deftigem Essen“.
</p>
<p>Nach unserem Imbiss mussten wir erst mal an die „frische“ Luft – ähhm, eher in das wieder stark aufgeheizte Stadtklima. Wir nahmen die Tram, da in 30 Minuten die Stadtführung durch das jüdische Viertel beginnen sollte und wir uns vorher spontan entschlossen hatten, daran teilzunehmen. In der Tram schaute ich nur kurz auf die Karte, um abzuschätzen wie viele Stationen wir fahren müssen, als mich gleich ein älterer Mann ansprach: „Sprechen Sie deutsch?“. Der Einheimische bot uns direkt seine Hilfe an und fragte wo wir hinwollten. Hat von euch schon mal jemand ganz selbstlos einen Touristen in Nürnberg gefragt, ob er Englisch spricht und ihm dann seine Hilfe angeboten? Also ich nicht, aber das werde ich mir mal vornehmen.
</p>
<p>Pünktlich kamen wir zur Führung und füllten unsere Trinkflasche nochmal schnell an einem Brunnen auf. Hier kann man überall in der Stadt kostenlos Trinkwasser zapfen – echt cool!
</p>

<%= site.picasa.alben["2012-08-24-ungarn"].get_picture_table(20,21,22,23) %>

<p>Während unserer Tour kamen wir an super vielen Kneipen und Bars vorbei. Unser Guide hatte nicht zu viel versprochen wenn er meinte: „Im jüdischen Viertel kann man sehr gut weggehen.“ Die meisten Bars waren in Hinterhöfen und sehr „alternativ“ – genau unser Style! Als die Tour dann in einem der Hinterhöfe endete versackten Dany und ich gleich auch bei Bier und Cuba Libre :-D. Genau das richtige um seinen Wasserhaushalt bei der anhaltenden Hitze wieder auf Vordermann zu bringen!
</p>
<p>Nachdem wir auch irgendwann was zu Abend essen wollten zogen wir einfach noch ein paar Häuschen weiter in den nächsten Hinterhof. Mexikanisches Essen ist zwar ehr untypisch für Ungarn, aber an dem lässigen Ambiente konnten wir nicht vorbeigehen!
</p>
<p>Die laue Sommernacht nutzen wir dann noch um uns die Stadt bei Nacht anzuschauen und nachdem es Freitag war – war mal richtig was geboten! Überall Menschen, die sich mit Wein oder Bier niedergelassen hatten und das Wochenende feierten. Beim schlendern durch die Nacht fanden wir auf einmal noch ein Cafe, an dem große Manowar-Plakate angebracht waren. Wer die Band nicht kennt hat wahrscheinlich auch nichts verpasst, aber nachdem das ein Teil meiner Jugend war schauten wir kurz hinein. Wir waren beide sehr überrascht. Überall Bilder von der Band, T-Shirts, Platten und vieles mehr. Wir fragten einen herumstehenden Mann, ob das hier ein bestimmtes Lokal sei? Da hatten wir den richtigen erwischt: Den Mann überkam eine Redeflut und er erklärte uns dass er die Bandmitglieder schon seit 20 Jahren kennt. Gute Kumpels also! Und das Cafe gehört der Band selber – und er ist hier der Manager :-D. Er listete uns aus dem Stehgreif die nächsten Tourdaten auf und zeigte uns auch noch dass das Cafe auf der letzten Manowar-DVD steht. Krasser Typ :-)
</p>
<p>Was man nicht so alles findet wenn man einfach nur so herumschlendert ...
</p>
<p>Wir genossen noch ein bisschen das romantische Flair an der Donau von wo aus man wieder die ganzen beleuchteten Sehenswürdigkeiten sehen konnte. Dann stiegen wir in die Tram 2 und ließen uns bis vor die Haustüre fahren.
</p>
<p>Am Samstag wollten wir noch einmal in die Stadt, da es immer noch so viele Sachen zum ansehen gegeben hätte. Aber als wir dort ankamen schaften wir es eigentlich nur uns wieder in eine Bar zu setzten. Es war einfach zu warm. Wir versuchten ein kleines bisschen die Mittagshitze zu umgehen, aber beschlossen dann sehr schnell heute nichts mehr zu machen und zurück zum Campingplatz zu laufen.
</p>
<p>Gegen Abend machten wir uns dann eine schöne ungarische Brotzeit mit Wein vom Balaton, ungarischer Salami und frischem Salat aus der Region.
</p>

<%= site.picasa.alben["2012-08-25-ungarn"].get_picture_table %>

<%= site.buessli.map("2012-08-25-12-19-europa-ungarn_R.small") %>
