---
title: 'Der größte Gezeitenstrom der Welt!'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, GPX, Karte, Norwegen, Reise, Route, Urlaub ]
---
<p>8. Juni (Saltstraumen)
</p>
<p>Ein echter Wahnsinn!!!! So krass hätte ich mir das wirklich nicht vorgestellt! Also wenn ihr mal so weit in den Norden kommt, dann sollte Saltstraumen absolute Pflicht sein ... liegt ja quasi auch auf dem Weg zu den Lofoten.
</p>
<p>Wenn man auf die Tidetabellen achtet (die sowieso hier an jedem Pfeiler hängen) und dann zur richtigen Uhrzeit am Fjordübergang ist, kann man bei einer extremen Naturgewalt zusehen. Das Wasser presst sich durch einen Engpass um den innenliegenden Fjord zu füllen – geht aber leider nicht so schnell wie das Wasser will, weil die Stelle zu schmal ist (150 Meter). Fazit: Das Wasser krümmt sich und bildet einen Strudel nach dem anderen! Wenn man da reinkommt ist glaub ich alles zu spät ...
</p>
<p>Ein super Nebeneffekt ist dass die Strömung Hunderte ja, Tausende von Fischen anzieht. Wenn man zum Gezeitenstrom angelt, ist jeder Wurf ein Treffer. Echt krass! Tja, so gibt es heute für jeden nen Fisch ... und morgen wohl auch.
</p>
<table data-title='2012-06-08-norwegen'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-06-08-norwegen/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-06-08-norwegen/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-06-08-norwegen/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="<%= @site.base_url %><%= @site.base_url %>/gpx/2012-06-08-07-24-europa-norwegen_R.small.gpx"></div></p>
