---
title: '„Wild“ campen in Schweden'
author: 'Marco Knuettel'
layout: buessli-europareise2012-blog
tags: [ 2012, Europa, Karte, Reise, Route, Urlaub ]
---
<p class="where">5. bis 8. Mai (Simrishamn – Fäjö – Kalmar – Kristdala)
</p>
<p>Nach fünf Tagen im sonnigen Dänemark stand für uns bereits die zweite Grenzüberquerung an: Schweden heißt unser nächstes Ziel, wo wir nun auch ein wenig länger verweilen werden. Von Kopenhagen aus kann man über die Öresundbrücke in wenigen Minuten direkt nach Malmö in Schweden fahren. Zunächst ein paar Kilometer durch einen unterirdischen Tunnel, dann über die etwa 8 Kilometer lange Brücke.
</p>
<p>In Schweden wollten wir dann auch endlich mal „wildes“ Camping testen, was in Dänemark aufgrund der relativ dichten Bebauung kaum möglich war. In Skandinavien gilt das Jedermannsrecht: Außerhalb der Sichtweite von Häusern darf man eine Nacht lang überall stehen, ohne vorher speziell um Erlaubnis fragen zu müssen. Unser erster „wilder“ Campingplatz war dann zwar ein offizieller Parkplatz im Fischerörtchen Simrishamn, aber dafür haben wir dann schneller als gedacht, unsere erste „Angelerfahrung“ gemacht. Ein Hamburger Schornsteinfeger in Rente, der auch dort genächtigt hat, hat uns abends noch seinen frisch gefangenen Fisch vermacht, inklusive einer kleinen Einführung im Fisch filetieren. Obwohl wir ja beide (noch) keine Ahnung vom Angeln, Ausnehmen etc. haben, waren wir uns einig: So macht man das wohl nicht. Von dem armen Fisch blieb kaum was übrig. Aber das Wenige war am nächsten Tag gegrillt sehr lecker! Und ein erster Anfang für die richtig großen Fische ist gemacht. Ach ja, nach ein bisschen Schnacken haben wir dem Hamburger erzählt, was wir so vorhaben, woraufhin er meinte, dass er das mit seiner damaligen Freundin in den 70er Jahren auch gemacht hat. Sechs Monate ums Mittelmeer waren geplant. Vier sinds nur geworden, weil ihnen die Lust ausgegangen ist, aber geheiratet haben sie trotzdem ;-)
</p>
<%= site.picasa.alben["2012-05-05-dk-schweden"].get_picture_table %>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-05-05-11-32-europa-schweden-01.small.gpx"></div>
</p>
<p>Tags darauf haben wir fest gestellt: Am Sonntag ist in Schweden der Hund begraben. In den Städten Karlshamn und Karlskrona war kein Mensch auf der Straße. Da dachten wir uns, wenn dann schon richtig einsam und haben uns auf die Suche nach einem lauschigen Plätzchen gemacht. An einem idyllischen kleinen See wurden wir dann fündig, wie man auf den Bildern sieht. Das ist natürlich schon was sehr besonderes, wenn man so mit dem Bus mitten in der (fast) unberührten Natur steht. Ja, so haben wir uns das vorgestellt!
</p>
<%= site.picasa.alben["2012-05-06-schweden"].get_picture_table %>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-05-06-09-12-europa-schweden-02.small.gpx"></div>
</p>
<p>Am Montag haben wir die Stadt Kalmar besucht, für Schweden ein geschichtsträchtiger Ort. Hier wurde unter der Federführung der Dänen im 14. Jahrhundert aus Dänemark, Schweden und Norwegen ein gemeinsames Königreich. Fast 150 Jahre hatte die Kalmarer Union Bestand, bis dann jeder wieder seiner eigenen Wege ging. In Kalmar sieht man auch viele dieser bunten, meist aber roten Holzhäuschen, die für Schweden typisch sind. Vor allem die roten! Sieht man sehr oft! Wirklich! Unser Übernachtungsplatz abends am See (Kristdala) hat uns dann so gut gefallen, dass wir dort gleich zwei Nächte geblieben sind. Hier haben wir auch die nächste Angel-Lektion bekommen, wieder von Deutschen. Sah aber sehr viel professioneller aus, wie der den riesen Hecht ausgenommen hat.
</p>
<%= site.picasa.alben["2012-05-07-schweden"].get_picture_table %>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-05-07-08-20-europa-schweden-03.small.gpx"></div></p>
