---
title: 'Am Campingplatz versumpft'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Estland, GPX, Karte, Reise, Route, Urlaub ]
---
<p>13. – 14. Juli (Vösu)
</p>
<p>Unseren Tag starteten wir mit dem Versuch, das kleine Dorf Juminda zu besichtigen, aber klein bedeutete leider, da gab es nichts zu sehen. Dennoch war es hübsch anzuschauen, mit den bunten Holzhäusern und Blumengärten. Der Flyer hatte nicht zuviel versprochen ;-) Da unserer Vorräte, die wir noch aus Finnland hatten, langsam zu neige gingen, mussten wir heute erst mal wieder was einkaufen. Im Ort Kotka sollte laut Karte ein Supermarkt sein und tatsächlich fanden wir was, das man hier Supermarkt nennt. War zwar ein bisschen übersichtlicher im Sortiment, aber was wir brauchten gab es alles. Schwer erstaunt waren wir über die Gewichtung der einzelnen Produkte: Es gab eine Fleischtheke, die zirka 10 Meter lang war. Dafür musste sich Gemüse zusammen mit dem Obst ein kleines Regal teilen. Außerdem stellten wir fest, dass es langsam immer schwieriger für uns wird, zu entziffern, was sich nun genau in dem jeweiligen Päckchen befindet. In Finnland waren fast alle Produkte auch immer zusätzlich auf schwedisch und norwegisch ausgezeichnet und das kann konnten wir uns ja halbwegs erschließen. In Estland aber stehen die Inhaltsangaben auf litauisch, lettisch, finnisch und russisch auf der Verpackung. Naja, das erhört die Spannung, was man nun wirklich erwischt hat ;-)
</p>
<p>Nach unserem Einkauf fuhren wir zur offiziellen Information des Lahemaa-Nationalparks. Eine nette Dame händigte uns Wanderkarten für diesen und alle anderen estnischen Nationalparks aus und gab uns ein paar Tipps, wo wir eine Waschmaschine finden könnten. In der Nähe der Touristeninformation machten wir noch eine kleine Wanderung und uns dann auf die Suche nach der Waschmaschine. Es war echt mal wieder nötig! An einem kleinen Campingplatz in Vösu wurden wir fündig. An der Rezeption fragten wir nach dem Preis für eine Nacht. Als die Frau hinter dem Tresen „14,25 Euro“ sagte, versuchten wir nicht zu entgeistert zu schauen. Als sie dann aber noch hinzufügte mit Strom, Duschen, Sauna und Internet, war uns glaub ich anzusehen, dass wir stark beeindruckt waren. Die Preise in Skandinavien lagen ja bis jetzt immer bei 20-30 Euro ohne zusätzliche Services. Wir verbrachten den Nachmittag am Campingplatz und wollten mal alles erledigen, um wieder einige Zeit ohne Annehmlichkeiten der Zivilisation klar zu kommen. Am Abend genossen wir noch die Sauna und setzen uns dann entspannt vor unseren Bus, um ein bisschen mit Freunden zu telefonieren.
</p>
<table data-title='2012-07-13-estland'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-13-estland/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-13-estland/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-13-estland/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="<%= @site.base_url %><%= @site.base_url %>/gpx/2012-07-13-09-40-europa-estland_R.small.gpx"></div>
</p>
<p>Weil uns der Platz so gut gefiel, beschlossen wir kurzer Hand noch einen Tag stehen zu bleiben. Auf einer nahe gelegenen Landzunge gab es einige Wanderwege, die wir uns mal anschauen wollten. Wir ließen den Bus stehen und schnappten uns unsere Fahrräder, um zum Startpunkt zu fahren. Einen kleinen Umweg machten wir noch wegen ein paar Dosen Bier und Würstchen, die wir uns für heute Abend besorgen wollten. Wir kauften ein Six-Pack Alecoq-1Pint. Sehr lustig fanden wir, dass eine Dose 0,568l groß und auf der Verpackung ein „Don’t drink and swimm“ Zeichen abgedruckt war. 
</p>
<p>Am Wanderweg angekommen stellten wir fest, dass es auch einen Radweg gibt. Mal was anderes!
</p>
<p>Wir radelten den Radweg entlang, der sich ziemlich schnell in einen richtigen Waldweg verwandelte. Einige Kilometer später war der Weg öfters meterlang nur mit Sand gebettet. Dany holte aus ihrem geerbten Drahtesel alles heraus was ging! Da ist wohl doch irgendwann mal ein „Update“ nötig ;-)
</p>
<p>Dennoch war der Weg sehr schön, führte er doch zum Beispiel an vielen großen und kleinen Findlingen vorbei. Diese von der Eiszeit übrig gebliebenen Felsbrocken unterschiedlicher Größe sind über ganz Estland verteilt. Es gibt eine Sage, dass das versteinerte Trolle oder etwas ähnliches sind. Die sollte man besser in Ruhe lassen und die Steine deshalb nicht versetzen. Lieber den Gartenzaun drum herumbauen. Und noch was ist uns aufgefallen, schon in unseren ersten Tagen in Estland: Die Natur ist hier sehr ursprünglich. So gibt es auf dem Campingplatz unheimlich viele Schwalben (übrigens der Nationalvogel Estlands und unsere Freude, weil sie Schnacken fressen!), die Wälder quellen über vor Blau- und Walderdbeeren (leider noch ein kleines bisschen zu sauer) und wir haben schon etliche Störche samt Nest gesehen. 
</p>
<p>Zurück am Campingplatz werden wir heute einfach nur noch den Grill anwerfen und irgendwann mal die Sauna aufsuchen ...
</p>
<table data-title='2012-07-14-estland'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-14-estland/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-14-estland/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-14-estland/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="<%= @site.base_url %><%= @site.base_url %>/gpx/2012-07-14-13-25-europa-estland_R.small.gpx"></div></p>
