---
title: 'Helsinki für Anfänger'
author: 'Marco Knuettel'
layout: buessli-europareise2012-blog
tags: [ 2012, Europa, Finnland, Reise, Route, Urlaub ]
---
<p class="where">6. bis 9. Juli (Lappenranta, Helsinki)
</p>
<p>Nach der sehr entspannenden Saunaerfahrung in der finnischen Provinz fuhren wir weiter Richtung Helsinki. Einen kurzen Stopp legten wir noch in Lappenranta ein und machten dort einen gemütlichen Spaziergang in der Sonne. Dabei gönnte ich mir mal wieder finnische Erdbeeren, die teuer sind, aber auch sehr lecker. Überhaupt quellen die ganzen Marktstände hier gerade über mit Erdbeeren, Kirschen und Blaubeeren – zuletzt genannte kommen aber im Moment noch aus Saxa, also von uns daheim ;-) Im Spätsommer und Herbst wird dann aber Beeren- und Pilze pflücken in den finnischen Wäldern eine wichtige Freizeitbeschäftigung werden. Für die Nacht stellten wir unseren Bus auf dem Parkplatz eines öffentlichen Strandes ab, direkt vor einem Campingplatz. In Norwegen hätte das nicht geklappt, aber hier hat keiner was gesagt. Eigentlich wollte ich ja auch mal in die Ostsee springen ... äh ... waten, aber das Wasser ist mir echt zu kalt und so richtig einladend sieht es trotz Sonnenschein nicht aus. Dann lieber im Sand sitzen, Leute und Möwen beobachten, Wein trinken und einem Alleinunterhalter vom Campingplatz lauschen. 
</p>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-07-06-11-19-europa-finnland_R.small.gpx"></div>
</p>
<p>Jetzt aber: Helsinki. Also Helsinki ist anders! Zumindest im Vergleich zu den anderen skandinavischen Hauptstädten, die wir gesehen haben. Es gibt hier sehr viele Jugendstilhäuser, die ich persönlich ja echt schön finde. Da kann man immer so viele kleine, feine Details entdecken. Zudem gibt es hier sehr viel moderne Architektur. Naja, die Geschmäcker sind verschieden. Wir sind extra zu einem der Wahrzeichen der Stadt gefahren, der Finlandia-Halle, eine Art Kongress- und Veranstaltungszentrum. Die ist sehr schlicht und geradlinig gehalten und zudem mit weißem Carrara-Marmor ummantelt. Das symbolisiert laut Reiseführer mediterrane Kultur und Lebensfreude. Leider nur hält der Marmor dem kalten finnischen Klima nicht stand und muss alle 25 Jahre ausgetauscht werden. Dort angekommen waren wir ziemlich enttäuscht, das Gebäude sah eigentlich ehr wie eine asbestgetäfelte Lagerhalle aus.
</p>
<p>Es gab aber auch für uns schönes in der Stadt zu entdecken. Da gibt es zum Beispiel eine Kirche, die halb unterirdisch in den Felsboden gebaut wurde, so dass nur das Kuppeldach aus dem Boden schaut. Der Dom von Helsinki ist auch sehr sehenswert, zumindest von außen. Ganz in weiß, versehen mit blauen Kuppeln mit goldenen Sternen. Gerhard und Strah haben uns empfohlen unbedingt die Fähre zur Festungsinsel Suomennlinna zu nehmen. Dort war früher ein großes Kasernen- und Militärgelände. Nach 15 Minuten Überfahrt kann man über die Insel streifen, Mauern, Festungsreste, alte Kanonen besichtigen und sich dann im Supermarkt auf der Insel noch eine Brotzeit und ein Eis für die lange Rückfahrt kaufen. Ein absoluter Hit ist der Markt am Hafen in Helsinki. Da ist uns echt das Wasser im Mund zusammengelaufen, von den riesigen Lachsfilets und Mega-Pfannen voll Gemüse und Kartoffeln, und Obst- und Gemüseberge, die da aufgebaut waren. Ein Touristenteller kostet allerdings 15 Euro und wir wollten nicht wieder auf den Touristentrick wie in Bergen hereinfallen :-)
</p>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-07-07-10-51-europa-finnland_R.small.gpx"></div>
</p>
<%= site.picasa.alben["2012-07-08-finnland"].get_picture_table %>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-07-08-12-03-europa-finnland_R.small.gpx"></div>
</p>
<p>Auf dem Campingplatz wartete außerdem noch ein bisschen Arbeit auf uns: Da unser Bus für den günstigen Fährpreis nach Tallinn ein bisschen zu hoch war, mussten wir die Dachbox runterschrauben und alles im Bus verstauen. Wahrscheinlich haben uns die Einweiser vor der Fähre aber doch nicht ganz getraut, dass wir unter 2,40 Meter waren – ok, wir waren auch 2,399999 :-). Deswegen mussten/durften wir erst als vorletzte an Bord fahren. Dort standen wir dann in einer Reihe mit ein paar LKWs. Da hatte ich dann auch keine Bedenken mehr, dass wir an der Decke anstoßen. Ja, und dann ging es los, mit einem riesigen Kreuzfahrtschiff nach Tallinn. Das klingt vielleicht ein bisschen seltsam, aber das hat sich wie wirkliches Reisen angefühlt, so mit Tickets kaufen und Einchecken und pünktlich vor Ort sein. Ansonsten fahren wir ja immer, wie es uns gerade so gefällt. Nach 2,5 Stunden kamen wir dann sicher in Tallinn an und suchten nur noch schnell den einzigen Campingplatz der Stadt.
</p>
<%= site.picasa.alben["2012-07-09-finnland"].get_picture_table %>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-07-09-12-38-europa-finnland_R.small.gpx"></div></p>
