---
title: 'Hau rein Dany!!!'
author: 'Marco Knuettel'
layout: buessli-europareise2012-blog
tags: [ 2012, Europa, Finnland, GPX, Karte, Reise, Route, Urlaub ]
---
<p class="where">2. – 3. Juli (Oravi, Linnansaari)
</p>
<p>Nach unserem super Abend mit spektakulärem Sonnenuntergang folgte eine unvergessliche Nacht. Um mehr von der Natur mitzubekommen, hatten wir das Oberzelt weggelassen und nur für den Fall der Fälle ein Tarp 2 Meter über dem Zelt gespannt. Wir lagen somit gefühlt im Freien und konnten bis spät in die Nacht alle neuen Geräusche um das Zelt herum analysieren. Zwar waren es „nur“ Tannenzapfen und umherhuschende Mäuse, aber man schaut trotzdem immer sehr gebannt, wenn etwas raschelt. Der Elch blieb leider auch in dieser Nacht aus, aber daheim sieht man ja auch keinen Hirsch, wenn man zelten geht :-)
</p>
<p>In der Früh wurden wir um 6 Uhr von leichtem Tröpfeln geweckt. Gottseidank hatten wir das Tarp gespannt. Naja, mit dem Gedanken „Alles richtig gemacht“ drehten wir uns einfach noch mal um und dachten, das wird bestimmt gleich wieder aufhören. Leider fing es nach einer Stunde dann aber richtig an zu schütten. Im Regen bauten wir dann unser Zelt ab und liefen zurück zum Bus.
</p>
<p>Nichtsdestotrotz hat uns das Zelten am See so gut gefallen, dass wir uns ein Boot ausleihen und ein bisschen im Nationalpark Linnansaari herumpaddeln wollten. Also fuhren wir nach Oravi, um uns dort Indian-Canoes auszuleihen. Nachdem die Sonne wieder rauskam, trockneten wir erstmal unsere Sachen und packten dann alles in die Drypacks. Angeblich war ein superschöner Zeltplatz mit Sauna in 1,5 Paddelstunden Entfernung zu finden. Für 21 Uhr reservierten wir uns dann auch gleich noch die Sauna, die man selbst mit Holz befeuern musste.
</p>
<p>Die Fahrt aus Oravi heraus Richtung Nationalpark wurde nach 300 Meter richtig heftig, denn dann kam man aus dem sicheren Hafen heraus auf den großen See. Der Guide im Bootsverleih sagte noch zu uns: „Auf keinen Fall zu weit raus fahren!!!“ – Wir hielten uns deswegen  am Rand und wurden von den Wellen ganz schön in unserem flachen Kahn umhergeworfen. „Hau rein Dany“ rief ich, damit wir in 20 Minuten den See passiert hatten. Danach war es eine lockere Tour bis zum Zeltplatz. Dort lagen schon ein paar kleine Boote im Hafen, die – und jetzt muss man sich festhalten –sogar Saunas an Bord haben! Die Finnen sind echt fanatisch, was das Thema Sauna anbelangt. :-D
</p>
<%= site.picasa.alben["2012-07-02-finnland"].get_picture_table %>
<p><div class="map" gpx="<%= @site.base_url %><%= @site.base_url %>/gpx/2012-07-02-09-39-europa-finnland_R.small.gpx"></div>
</p>
<p>Dany und ich bauten das Zelt auf und machten uns einen Teig für frisches Stockbrot, mit dem wir uns den Abend versüßen wollten. Dabei lernten wir eine nette finnische Familie kennen, die mit so einem Saunaboot 10 Tage durch die Inselgruppen tuckern. „I do something with wine“ sagte der Mann und packte auf einmal 6 bis 7 Flaschen unterschiedlichen Wein aus, keinen finnischen natürlich, sondern spanischen, deutschen und australischen. „Feel free!“ Dany bekam sogar ein richtiges Glas und „haute“ erneut rein :-D
</p>
<p>Leider war es dann so nett mit den Vier, dass wir unsere Sauna ganz vergaßen. Nach uns hatten sich noch ein paar andere finnische Jugendliche die Sauna reserviert – für die es aber kein Problem war, noch später zu gehen. Wir genossen die Sauna und kühlten uns im See ab! Die Sonne stand tief und es war einfach nur der absolute Hammer! Vor einer Woche hätten wir wirklich nicht gedacht, dass man Finnland als Urlaubsort empfehlen sollte, aber hier einige Tage mit dem Boot herumzufahren, ist wirklich traumhaft.
</p>
<p>Wir saßen lange ums Feuer und quatschen wieder mal endlos. Leider hat man bei den älteren Finnen – so ab 50 – mit Englisch immer schlechte Karten, aber die Jungen und Jungbliebenen sind fit!
</p>
<p>Als ich am Morgen bei strahlendem Sonnenschein aus unserem Zelt spitzte, sah ich schon wie die Sauna auf dem einen Boot vor sich hinqualmte ... krass!
</p>
<p>Wir machten uns noch ein Feuer für Tee und ließen unser Boot wieder zu Wasser. Die Sonne schien und wir mir fuhren noch ein paar extra Runden um einige kleine Inseln. Eine Pause auf einer 20 qm kleinen Insel legten wir noch ein, bevor wir wieder sicher in unserem Heimathafen ankamen. 
</p>
<%= site.picasa.alben["2012-07-03-finnland"].get_picture_table %>
<p><div class="map" gpx="<%= @site.base_url %><%= @site.base_url %>/gpx/2012-07-03-11-01-europa-finnland_R.small.gpx"></div></p>
