---
title: 'Wieder mal ein Platz Eins'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, GPX, Karte, Polen, Reise, Route, Urlaub ]
---
<p>29. – 30. Juli (Litauen, Warschau)
</p>
<p>Nach unserer letzten Nacht in Litauen brachen wir relativ früh Richtung Warschau auf. Wir hatten beschlossen, uns den Norden von Polen für eine zukünftige Reise aufzuheben, weil sich die Landschaft in den Masuren nicht sehr von dem unterscheidet, was wir in den letzten Wochen ohnehin genießen konnten. Außerdem hatten wir das erste Mal auf unserer Reise ein bisschen „Druck“, weil wir uns am 31. Juli mit Nicole und Christian in Breslau treffen wollen. 
</p>
<p>Der Grenzübertritt nach Polen war ähnlich unspektakulär wie schon in den Ländern zuvor. Die Landschaft änderte sich jedoch unerwartet ziemlich stark. Es gab extrem viele große Ackerflächen, jedoch fast nur mit Getreideanbau und kaum Kühe. Zudem sind wir gefühlt alle paar Minuten durch eine kilometerlange Allee mit hohen Bäumen gefahren. Die werden ja in Deutschland oft abgeholzt, da zu gefährlich. Außerdem konnten wir auch sofort sehen, welch hohen Stellenwert die (katholische) Religion in diesem Land hat: Unzählige Kreuze, Marienfiguren und Bildstöcke, meist noch mit bunten Bändern und Blumen geschmückt, standen am Straßenrand. Da es Sonntag war, waren zudem viele Leute unterwegs zur Kirche oder kamen gerade vom Gottesdienst. Und da waren wirklich viele Leute unterwegs! So viele, dass wir im Vorbeifahren ab und an sehen konnten, dass einige vor den Kirchentüren standen und dem Gottesdienst, von draußen lauschten, da es wohl innen zu voll war! Davon träumt wahrscheinlich jeder Pfarrer in Deutschland. 
</p>
<p>Die Fahrt durch diese Landschaft bei strahlendem Sonnenschein war eigentlich wirklich entspannt. Wenn da nicht der Verkehr gewesen wäre. Bereits in Litauen hatten wir festgestellt, dass das Autofahren dort anders läuft: Man ist deutlich risikobereiter als in Deutschland. Polen schießt für mich aber bis jetzt den Vogel ab! Risikobereit ist eigentlich hier nicht mehr das richtige Wort! Schilder sind Schall und Rauch und es war auch kein Problem in einer Baustelle im Kiesbett rechts an uns vorbeizuziehen, obwohl WIR schon schneller waren als erlaubt. Naja, wir sind trotzdem sicher angekommen und konnten nach einer streckenweise stressigen Fahrt am City-Camping-Platz in Warschau einchecken.
</p>
<p>Von Warschau wussten wir bis zu diesem Zeitpunkt noch nicht wirklich viel. Und das wenige war leider nicht so positiv. Wir erwarteten nach Erzählungen anderer Reisender eine graue, große, laute Stadt. Gegen Abend fuhren wir mit den Rädern in die City und wollten uns selbst ein Bild verschaffen. Die Fahrt in die Stadt war zwar weniger schön, weil Gehsteige bzw. Radwege nicht immer vorhanden waren. Als wir jedoch in der Altstadt ankamen, waren wir total positiv überrascht! Das „alte“ Warschau ist echt riesig und total schön! Viele alte Häuser gibt es zu bewundern, was eigentlich ziemlich erstaunlich ist, da Warschau im zweiten Weltkrieg zu über 90 Prozent zerstört wurde. Alles was an alten Bauwerken existierte, wurde nach den Gemälden eines Stadtmalers aus dem 18. Jahrhundert wieder aufgebaut! Zum Abendessen gingen wir zu einer so genannten „Milchbar“. Dort gibt trotz des Namens keine Milch, dafür typisch polnische Gerichte in kleinen Portionen für wenig Geld. Man isst auch eher im Vorbeigehen, es war laut und stickig – aber das Essen (gekochte Wurst, Hüttenkäse mit Kräutern und eine Art Gulasch) war sehr lecker! Und ein Wodka zur Verdauung darf natürlich auch nicht fehlen ;-)
</p>
<table data-title='2012-07-29-polen'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-29-polen/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-29-polen/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-29-polen/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="<%= @site.base_url %><%= @site.base_url %>/gpx/2012-07-29-09-02-europa-litauen_R.small.gpx"></div>
</p>
<p>Am nächsten Tag wollten wir eigentlich eine Free-Walking-Tour machen, die leider aber an diesem Tag nicht stattfand. So erkundeten wir eben noch einmal auf eigene Faust die Sehenswürdigkeiten der Stadt. Besonders beeindruckend fanden wir das Denkmal für den Warschauer Aufstand während des Zweiten Weltkriegs. Dort wurde gerade mit einer riesigen Bühne, Lightshow und Sängern für eine Gedenkveranstaltung zum Jahrestag des Jubiläums geprobt. Dabei lief auch zum Test ein Film über die Zerstörung der Stadt, der uns schon etwas nachdenklich gemacht hat – vor allem als Deutsche. Nahe ging uns auch die Besichtigung des Denkmals zur Erinnerung an das Warschauer Ghetto. Dort hat Willy Brandt ja in den 70er Jahren seinen berühmten Kniefall gemacht. Wir fanden es nur etwas schade, dass der Weg zum Denkmal so schlecht ausgeschildert war und auch die Umgebung mit zahlreichen heruntergekommenen Plattenbauten nicht sehr ansehnlich war. 
</p>
<table data-title='2012-07-30-polen'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-30-polen/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-30-polen/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-30-polen/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="<%= @site.base_url %><%= @site.base_url %>/gpx/2012-07-30-11-35-europa-litauen_R.small.gpx"></div>
</p>
<p>Am nächsten Morgen wollten wir frühzeitig nach Breslau aufbrechen, denn es waren 350 km bis dorthin und die polnischen Landstraßen würde ich als mäßig einstufen. Die ersten Kilometer auf der unfertigen Autobahn endeten mit einem krassen Manöver eines Lasterfahrers. Er überholte uns in der Baustelle, wobei er zunächst ein Baustellenschild mit einem riesen Schlag aus dem Weg räumte und dann über die gesperrte Gegenfahrbahn langsam links an uns vorbei zog. Zwei Kilometer später verließen wir die Autobahn sowieso – VOLLDEPP! Auf der Landstraße war es eigentlich nicht weniger gefährlich. Laufend wurde man innerhalb der Ortschaften mit einem Affenzahn überholt. Leider mussten wir dadurch auch mit ansehen, wie eine Katze von so einem Kasper über den Haufen gefahren wurde. Die Polen haben es auf jeden Fall geschafft auf unseren Platz 1 der krassesten Autofahrer zu gelangen – aber wir sind ja noch nicht in der Türkei! Langsam, aber dafür SICHER kamen wir in Breslau an. Und genau in dem Moment, in dem wir auf dem Campingplatz eincheckten, entdeckten wir ein Auto hinter uns Christian und Nicole in ihrem Wohnmobil. Was für ein Timing! An diesem Abend gönnten wir uns erst mal einige heimische Spezialitäten, die uns die beiden aus Deutschland importiert hatten. Beim gemütlichen Essen und polnischem Bier quatschten wir erst mal bis tief in die Nacht.
</p>
<p><div class="map" gpx="<%= @site.base_url %><%= @site.base_url %>/gpx/2012-07-31-11-54-europa-polen_R.small.gpx"></div>
</p>
