---
title: 'Velkommen in Kongeriget Danmark'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Dänemark, Europa, GPX, Karte, Reise, Urlaub ]
---
<p>(2. Mai, Lojt Kirkeby - Faborg)
</p>
<p>Willkommen im Königreich Dänemark! Zum Frühstück gab's aber erstmal original fränkisch Küchle (Danke, Oma!). In ziemlich entspannten Tempo fuhren wir dann übers Land und passten uns damit gleich den Dänen an, die es in der Regel "hyggelig" lieben. Nein, das meint jetzt nicht "hügelig", sondern eher "entspannt, gemütlich, behaglich". Passt für uns! Obwohl ganz so langsam und entspannt war unsere Fahrt wohl doch nicht, denn sie hat gleich ein erstes "Opfer" gefordert: Unsere Super-Adventure-Helmkamera (HD Hero) ist leider mitten unter der Fahrt mitsamt der Befestigung von der Motorhaube gefallen und unter die Räder des dahinter fahrenden Autos geraten. Die Kamera war zwar erstaunlicherweise relativ intakt, aber leider hat es die SD-Karte rausgeschleudert. Hm, das wars dann erstmal mit unseren selbst gedrehten Action-Filmen ...
</p>
<p>Dafür gab's dann später noch ein tolles Highlight: Wir haben den Gipfel der "Fünischen Alpen" erklommen! Ganz ohne Steigeisen, Seil und Helm sind wir auf sage und schreibe 126 Meter hoch gelaufen: Der Trebjerg ist immerhin der höchste Punkt auf der Insel Fünen! 
</p>
<table data-title='2012-05-02-dk'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-05-02-dk/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-05-02-dk/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-05-02-dk/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="<%= @site.base_url %><%= @site.base_url %>/gpx/2012-05-02-10-00-europa-daenemark-01.gpx" style="width:763px; height:350px; border:1px solid gr\
</p>
<p>ay; margin-right:0px; margin-bottom:15px; float:left;"]&nbsp;</p>
