---
title: '... und dann auch noch gewonnen!'
author: 'Marco Knuettel'
layout: buessli-europareise2012-blog
tags: [ 2012, Europa, GPX, Karte, Norwegen, Reise, Route, Urlaub ]
---
<p class="where">12. – 14. Juni (Lofoten – Ramfjord – Tromsö)
</p>
<p>Wir verlassen die wunderschönen Lofoten und machen uns weiter auf Richtung Norden. Diese Region rund um Narvik war im 2. Weltkrieg stark umkämpft. Alle paar Kilometer weist deshalb ein Hinweisschild auf eine „Krigsminner“ hin. Zu einer dieser alten Bunkeranlagen sind wir dann mal hingeradelt und haben uns die alten Schützengräben, Bunker und sonstige Überbleibsel aus der Kriegszeit angeschaut. Man kann sich gar nicht vorstellen, dass sich hier mal so schreckliche Dinge abgespielt haben, wenn man durch den stillen Wald läuft oder auf das Meer ringsum und die schneebedeckten Berge blickt. Auch heute noch scheint hier viel mit Militär zu sein, denn es gibt dort zahlreiche Kasernen und abgesperrtes Gelände, auf dem scharf geschossen wird. Naja, nichts für uns. 
</p>
<%= site.picasa.alben["2012-06-12-norwegen"].get_picture_table %>
<p>Das nächste Ziel heißt sowieso Tromsö, die letzte „Großstadt“ (62.000 Einwohner) vor der Arktis und Startpunkt zahlreicher historischer Polarexpeditionen. Aber davor musste noch etwas ganz wichtiges anderes organisiert werden: Fernsehen! 
</p>
<p>Wir sind deshalb bis zu einem Campingplatz 30 Kilometer vor der Stadt gefahren. Beim Einchecken lief alles mal ganz anderes: „Haben Sie Fernsehen oder eine gute Internetanbindung?“ Der Typ sah uns ganz schief an, aber dann verstand er: „Deutschland spielt heute ...“ Er hat uns dann extra noch einen anderen Receiver installiert, damit wir auch den Sportkanal sehen können! Bei Linseneintopf, Wein und Schokolade verfolgten wir, wie UNSERE Nationalelf die Holländer aus der EM warf. Neben uns im TV-Raum saß sogar ein Holländer, aber der nahm das Ganze sportlich ;-)
</p>
<%= site.picasa.alben["2012-06-13-norwegen"].get_picture_table %>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-06-13-08-09-europa-norwegen_R.small.gpx"></div>
</p>
<p>In Tromsö tauchten wir dann in die polare Welt ein. Zuerst besuchten wir die Eismeerkathedrale. Eine sehr ausgefallene Kirche, die von außen wie ein Eisberg aussieht und innen nur durch ein riesiges buntes Glasmosaikfenster geschmückt ist. Ein kleines Orgelkonzert gab es dann noch gratis dazu. Dann statteten wir dem Polarmuseum einen Besuch ab. Das war zwar sehr interessant, aber stellenweise auch sehr befremdlich für mich. Mit Greenpeace, WWF und „Rettet die Wale!“ aufgewachsen, kann ich mir einfach schwer vorstellen, wie die Menschen hier bis in die 1970er Jahre von Eisbärjagd, Wal- und Robbenfang gelebt haben. Von Tromsö aus sind viele dieser Jäger (darunter auch Frauen) auf die Insel Spitzbergen, haben dort unter härtesten Bedingungen überwintert und den ganzen Winter über Polarfüchse, Eisbären, Robben, Walrosse, eigentlich alles gejagt. Ein besonders erfolgreicher Eisbärjäger, der mit 713 getöteten Bären den Rekord aufstellte, wurde schon zu Lebzeiten ein norwegischer Mythos und erhielt vom König eine Medaille für seine Verdienste um die Arktis. Als ich dann noch erfahren habe, dass die Eisbären in der Regel mit einer Selbstschussanlage getötet wurden, die mit einem Köder präpariert war (der Jäger also gar nicht viel selbst machen musste), fand ich das Ganze noch seltsamer. Ja, das waren damals andere Zeiten und Sitten. Interessant war’s trotzdem. 
</p>
<p>Jetzt heißt es dann langsam, alle Jalousien im Bus bis ganz nach unten ziehen, den Vorgang zuziehen und zusätzlich noch mit einer Decke verhängen, damit es ein bisschen dunkler hier drin wird. Draußen ist es das nämlich die ganze Nacht über nicht mehr. Da scheint, wenn es nicht bewölkt ist, die ganze Zeit die Mitternachtssonne. 
</p>
<%= site.picasa.alben["2012-06-14-norwegen"].get_picture_table %>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-06-14-09-30-europa-norwegen_R.small.gpx"></div></p>
