---
title: 'Warum wir ab sofort an einer schwedischen Tankstelle wohnen ...'
author: 'Marco Knuettel'
layout: buessli-europareise2012-blog
tags: [ 2012, Europa, Karte, Reise, Route, Urlaub ]
---
<p class="where">16. – 18. Mai (Garsas – Garberg – kurz vor der norwegischen Grenze)
</p>
<p>Rund um den Siljansee ist ein beliebte schwedische Wintersportregion, was wir ja nicht so richtig glauben konnten, denn: Wo sind hier die Berge? Ein Blick auf die Karte verrät uns, dass der höchste „Berg“ in der Region der Klacken ist (607 Meter), von dem man einen tollen Blick über die Gegend haben soll. Wir also dort hoch, über Schotterpiste durch den Nadelwald, ein ewiges Gekurve ... und auf einmal stehen wir mitten in einem kleinen Bergdorf mit urigen Hütten und, was uns besonders beeindruckt hat, etlichen Outdoor-Pools in Form von riesigen Bottichen mit einem Ofen in der Mitte. Ist bestimmt sehr entspannend, wenn man sich nach einer langen Skitour im Fackelschein und mitten in einer Schneelandschaft in so einen Pool setzen kann. Das menschenleere „Nora Garberg Skidcenter“ hat uns auf jeden Fall so gut gefallen, dass wir dort oben eine Nacht mit tollem Blick auf die Wälder ringsum verbracht haben.
</p>
<table data-title='2012-05-16-schweden'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-05-16-schweden/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-05-16-schweden/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-05-16-schweden/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-05-16-10-02-europa-schweden.small.gpx"></div>
</p>
<p>Eigentlich wollten wir ja nun am darauffolgenden Tag nach Norwegen einreisen. Und eigentlich wussten wir ja, dass wir viel zuviel Wein aus Deutschland dabei hatten, um legal über die Grenze zu kommen. Aber so kurz vor der Grenze wurden wir doch ein wenig nervös. Einfach drüberfahren und angeben, dass wir kaum Alkohol dabei haben? In Internetforen war durchaus von Leuten zu lesen, die kontrolliert wurden. Hm ... oder nur einen Teil verzollen und den Rest verschweigen? Aber wie gesagt, es ist echt viel Wein! Dann die ultimative Idee! Jetzt, wo wir noch in Schweden sind, schicken wir mit der Post einen Teil des Weins auf einen Campingplatz in Nordschweden, wo wir auf der Rückfahrt vom Nordkap vorbeikommen. Klingt total aberwitzig, aber mittlerweile sind wir beide davon überzeugt, dass das klappen wird ;-) Also sind wir zu einer Tankstelle mit integriertem Postshop und haben versucht, der netten Kassiererin zu erklären, dass wir ein 20kg-Päckchen nach Kukkolaforsen verschicken wollen. Kommentar Marco: „Das klingt wie Taka-Tuka-Land.“ Aber wie gesagt, die Dame war sehr hilfsbereit, hat alles für uns ausgefüllt und meinte am Schluss nur, dass sie nun noch eine Adresse bräuchte, von der aus wir in Schweden das Päckchen losschicken. Oh nein, so etwas haben wir doch nicht. Kurzes Zögern auf der anderen Seite, dann der Vorschlag: Ok, dann „wohnen“ wir jetzt sozusagen in der Tankstelle und das Paket wird von dort verschickt. Hurra! Seid mit uns gespannt, ob die Geschichte ein glückliches Ende nehmen wird und wir in einigen Wochen am nördlichen Ende Schwedens unseren Wein wieder in Empfang nehmen werden. Darauf trinken wir dann!
</p>
<%= site.picasa.alben["2012-05-16-schweden"].get_picture_table %>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-05-17-09-59-europa-schweden.small.gpx"></div>
</p>
<p>Ach ja, da gibt es ja noch einen Nachtrag zu der Geschichte: Trotz des Versands des Riesen-Paketes hatten wir ja immer noch zuviel dabei. Also war der Plan, einen Teil zu verzollen und einen kleinen Teil an der Grenze zu „vergessen“. Diese Pakete haben wir dann schön verpackt und versteckt, damit ja nichts schief geht. Im Internet stand, an jedem Grenzübergang gibt es eine grüne und eine rote Spur und über letztere fährt man, wenn man etwas verzollen möchte. Wir also alles nochmal durchgesprochen, steigen in den Bus und fahren los. Wir nähern uns der norwegischen Grenze. Noch fünf Kilometer. Schnell noch unsere Topfpflanze ins Handschuhfach, weil wir auch nicht mehr sicher waren, ob man die mitnehmen darf. Noch drei Kilometer. Noch zwei. Eins. Norwegen. Äh, wo war denn hier nun Grenze?? Nichts, nada, absolut nix. Kein Grenzerhäuschen, kein Flagge, nicht mal ein Schild. Das wiederum heißt im Klartext: Wir hätten uns die gesamte Wein-Paket-Schmuggel-Aktion eigentlich sparen können. Oder auch nicht, denn auf jeden Fall ist daraus ein witzige Geschichte geworden!
</p>
<%= site.picasa.alben["2012-05-18-schweden"].get_picture_table %>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-05-18-10-15-europa-schweden.small.gpx"></div></p>
