---
title: 'Wir verlassen das Paradies für Nerds und Naturfreunde'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Estland, Europa, GPX, Karte, Lettland, Reise, Route, Urlaub ]
---
<p>18. Juli (Estland, Lettland)
</p>
<p>Heute haben wir Estland verlassen und sind in das nächste Land auf unserer Tour gefahren – nach Lettland. Man darf gespannt sein, was uns der nächste baltische Staat bietet. Nachdem wir unseren tollen Feuerplatz verlassen hatten, konnten wir einige Kilometer weiter auf einen 30 Meter hohen Aussichtsturm klettern. Leider gab es bei der Ankunft dort einen kleinen Schauer, der uns zwar die Laune nicht vermieste, aber zumindest die Aussicht verringerte. Die Fahrt zur Grenzstadt Valga führte wieder durch verlassen wirkende Gegenden, aber zumindest war die Straße hier mal wieder geteert :-) Bei einem Besuch in der Touristinfo in Valga stellten wir fest, dass die ehemalige Grenze mitten durch den Ort ging. Die andere Seite der Stadt hieß dementsprechend auch schon anders, nämlich auf lettisch „Valka“. Wir bummelten ein kleines bisschen durch den estnischen Teil der Stadt und stellten uns danach mit unserem Bus an den Rand des Stadtparks – 50 Meter vom Grenzpflock entfernt. Dort genossen wir die Sonne und ich erkundigte mich noch schnell im Internet nach einer Prepaid-Karte für Lettland.
</p>
<table data-title='2012-07-18-estland'>
<tr>
<%= @site.base_url %>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-18-estland/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-18-estland/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-18-estland/3.jpg'/></a></td>
</tr>
</table>
<p>Als wir dann schließlich über die Grenze fuhren – man fährt halt einfach weiter durch die Stadt – gab es 300 Meter weiter einen Supermarkt, bei dem man schon in lettischer Währung, in Lats (LVL), zahlt. Alle Autos haben auch schon „LV“ statt „EST“ auf dem Nummernschild. Eine Stadt, aber alles anders! Im Supermarkt holte ich mir schnell die neue Handykarte – für 3 LVL, also zirka 4,5 Euro. 3 Tage Internet sind gratis dabei und danach kostet jeder Tag zirka 0,40 Euro.
</p>
<p>Die Suche nach einem Übernachtungsplatz war heute ein kleines bisschen schwieriger, weil man in einem neuen Land wieder auf neue „Zeichen“ achten muss. Wir haben aber dann doch recht schnell einen passablen Platz in der Nähe an einer Sehenswürdigkeit gefunden – einer eingefallenen Mühle und mehrerer verlassener, alter Bauernhäuser.
</p>
<p>Heute morgen machte ich die lettische SIM-Karte einsatzbereit und stellte gleich mal fest, dass wir das Paradies der Nerds verlassen hatten – jetzt wird es ein bisschen technischer :-D. In Estland gab es wirklich überall UMTS, egal wo wir waren, hatte das Handy fast vollen Empfang und die Bandbreite und Latenz, die man hier an abgelegen Orten hat, würde sich so mancher Deutscher im Ballungszentrum wünschen. Da könnte man als ITler im Campervan sein Office auch an einen Zeltplatz in Estland verlegen. Die Handykarte hatte ja weder Speed- noch Traffic-Limit. Hier in Lettland sieht die Sache schon gaaaanz anders aus :-) Am Bus direkt hatten wir keinen Empfang. Nach 30 Metern gab es aber eine Schneise, über die vielleicht was reinkommen könnte. Also Handy in Tubberdose packen (falls es regnet) und ab damit ans Schild. Der Spanngummi hält auch bei größerer Windstärke. Somit konnten wir heute Morgen den Tag fertig planen und euch mit kurzweiligen Geschichten versorgen.
</p>
<table data-title-disabled='2012-07-19-estland'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-19-estland/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-19-estland/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-19-estland/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="<%= @site.base_url %><%= @site.base_url %>/gpx/2012-07-18-10-56-europa-estland_R.small.gpx"></div></p>
