---
title: 'Unsere letzte Station im Baltikum'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, GPX, Karte, Litauen, Reise, Route, Urlaub ]
---
<p>27. – 28. Juli (Vilnius)
</p>
<p>Nach einigen Tagen in der unberührten Natur ging es heute wieder mal ab in die Stadt. Vilnius ist die Hauptstadt von Litauen, aber durch die extrem östliche Lage angeblich nicht so vom Tourismus gesegnet wie manch andere Orte im Westen des Landes. Unser Plan steht, wir wollen alle Hauptstädte der Länder anschauen, die wir bereisen, und deshalb ging unsere Fahrt nach dem Frühstück Richtung Vilnius. Als Übernachtungsplatz haben wir uns erneut den City-Camping-Platz ausgesucht, der auch diesmal wieder am Messegelände sein soll. Dort angekommen waren wir sehr überrascht. Nicht wirklich viele Camper und ein sehr netter Platz mit viel Grün hinter den Messehallen.
</p>
<p>In Litauen ist es die letzten Tage extrem warm gewesen und auch heute schien die Sonne wieder mit voller Kraft. Wir hatten deshalb erstmal keine Motivation in der Hitze mit unseren Rädern in die Stadt zu radeln. Stattdessen verkrümmelten wir uns lieber in den Schatten der Markise und legten die Füße hoch. Nebenbei ließen wir noch die Waschmaschine für uns arbeiten :-) Bei einem kleinen Rundgang über den Platz entdeckte ich einen VW-Bus mit KG-Kennzeichen (Bad Kissingen) und dachte mir: „Ach, aus der Heimat“. Lange Zeit hatte ich ja selbst so ein Kennzeichen. Ich fragte nach, wo sie den genau herkommen und bekam ein freundliches „Bad Brückenau“ zurück. Als ich sagte, dass ich ursprünglich aus Elfershausen komme, fragte die Frau: „Habt ihr einen gelben Bus und fahrt ein halbes Jahr herum?“. Überrascht bejahte ich die Frage, worauf sie anfing zu lachen. Vor zwei Wochen hatten wir im Radio über Bayern 3 unsere Familien grüßen lassen und das hat sie gehört! Witzig, dass man sich dann durch Zufall zwei Wochen später 1.500 Kilometer entfernt trifft. Wir quatschen ne gute Stunde, dann mussten wir endlich mal unsere Wäsche aufhängen, bevor gar keine Sonne mehr am Himmel zu sehen war. Außerdem hatten wir gelesen, dass es in Litauen so leckere Kartoffelklöße mit Fleischfüllung gab – wegen ihrer länglichen Form „Cepelinai“ (Zeppelin) genannt. Deswegen wollten wir noch in die Stadt radeln, um dieses traditionelle Gericht zu testen. Und natürlich wollten wir uns noch einen ersten Einblick von Vilnius verschaffen.
</p>
<table>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-27-litauen/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-27-litauen/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-27-litauen/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-07-27-11-53-europa-litauen_R.small.gpx"></div>
</p>
<p>Die Altstadt ist echt toll und vermittelte uns ein mediterranes Flair. Es war ein richtiger schöner lauer Sommerabend. Zahlreiche Menschen schlenderten durch die Gassen und auf den Plätzen entlang. Wir suchten ein nettes Lokal, nur leider wurden dort die „Zeppelinos“, wie wir sie nannten, nicht angeboten. Aber nachdem wir fest gestellt hatten, dass man in Litauen für insgesamt 20 Euro Vorspeise, Hauptgericht, Getränke und Absacker (ein Schnaps namens „Litauisches Gold“) für zwei bekommt, planten wir eben die „Zeppelinos“ morgen wo anders zu essen ;-)
</p>
<p>Zurück am Campingplatz gönnten wir uns noch eine nächtliche Dusche – Ich konnte mich schon gar nicht mehr daran erinnern, wann ich zum letzten Mal froh darüber war, dass aus der Dusche kühles Wasser kam :-D
</p>
<p>Am nächsten Tag hatten wir uns für 12 Uhr wieder die „Free-Walking-Tour“ von likealocal.com vorgenommen. Nachdem ich mich dann aber nach dem Frühstück mit einem anderen Nachbarn aus Pinneberg, die mit einem Landrover unterwegs waren, verquatscht hatte, gerieten wir fast ein bisschen in Stress. Kurz vor 12 waren wir dann doch noch rechtzeitig am Treffpunkt und konnten auch diesmal eine total coole Stadtführung genießen.
</p>
<p>Diese ging zum Teil durch die Altstadt, aber auch raus in ein paar Regionen, wo man als Tourist nicht direkt hinlaufen würde. Wir kamen natürlich auch an einigen der fast 40 (!) Kirchen in Vilnius vorbei. Da aber an diesem Sommer-Samstag absolutes Hochzeitsfieber ausgebrochen war (wir haben bestimmt sieben Stück gesehen), haben wir uns die großen Bauwerke lieber nur von außen angeschaut. Und anstecken haben wir uns davon auch noch nicht lassen :-D.
</p>
<p>Zur Tour gehörte auch ein Abstecher in die „Republik Uzupis“. Dieses alternative Künstlerviertel erinnerte uns ein bisschen an „Christiania“ in Kopenhagen. Das kleine Gebiet im Inneren von Vilnius ist ein eigener Staat mit eigener Verfassung. Der erste Artikel lautet: „Jeder hat das Recht, am Fluss Vilnia zu leben und die Vilnia hat das Recht, an jedem vorbeizufließen“. Sogar eine 12-Mann-Armee gibt es! Wer dort „einreisen“ möchte, benötigt ein Visum, das darin besteht, dass man die ganze Zeit lächelt, wenn man sich in Uzupis aufhält. OK, das schaffen wir! Das Viertel ist schon sehr alternativ, wird aber jetzt auf kurz oder lang aussterben, weil die Besserverdiener ein IN-Viertel daraus machen. Nach der Stadtführung ließen wir uns noch ein Restaurant empfehlen, um in den Genuss der Zeppelinos zu kommen. Auch hier blieben wir trotz des Hinweises unseres Guides „Ist ein teureres Restaurant“ unter der 20-Euro-Grenze mit Vorspeise. Wir bestellten zwei verschiedene Arten der Klöße, Dany die traditionellen und ich die nach Schwiegertochter-Art. Das war ein Fehler, denn meine waren mit Käse gefüllt! Nicht mit Fleisch! Aber ich durfte einen Teil tauschen ;-)
</p>
<p>Nach unserem leckeren Essen in der Sonne, machten wir uns langsam auf Richtung Süden, denn wir wollten an diesem Tag noch die nach Polen erreichen. Auf dem Weg dorthin verprassten wir noch unsere letzten Litas – wer weiß wann wir diese wieder mal brauchen würden.
</p>
<p>Als Fazit über das Baltikum können wir auf jeden Fall sagen: SEHR EMPFEHLENSWERT!!! Wir würden jederzeit wieder dort hinfahren und dort Urlaub machen. Die ursprüngliche Natur und die absolut herzlichen Menschen lassen einen so richtig genussvoll reisen! Alles was man sich über das Baltikum an „negativen“ Geschichten erzählt, können wir nicht bestätigen. Wir hatten zu keiner Zeit Angst und die Räder sind immer noch am Auto ;-)
</p>
<table data-title='2012-07-28-litauen'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-28-litauen/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-28-litauen/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-28-litauen/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-07-28-11-17-europa-litauen_R.small.gpx"></div></p>
