---
title: 'Ein Besuch in Riga'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, GPX, Karte, Lettland, Reise, Route, Urlaub ]
---
<p>22. – 23. Juli (Riga)
</p>
<p>Nach einem sehr erholsamen SPA-Tag und vielen Gedanken hatten wir den Regentag überstanden und zum Frühstück kam die Sonne wieder zum Vorschein. Auf einem einsamen Parkplatz futterten wir unser Müsli und freuten uns wieder, auf Reisen zu sein. Nun wollten wir uns auf jeden Fall noch eine der Burgen anschauen, bevor wir nach Riga aufbrechen. Rund um die Burg Turaida gab es eine Art Freilichtmuseum, wo man Einblick in das Leben der Letten in den letzten Jahrhunderten nehmen konnte. Wie auch in Estland wurde hier deutlich, dass Lettland immer wieder zum Spielball der umgebenden Großmächte gemacht wurde. Das Land war mal russisch, mal schwedisch, mal bildete es zusammen mit Estland ein eigenes Land namens Livland. Und die Deutschen mischten auch immer kräftig mit.
</p>
<p>Danach ging es auf zur Großstadt. Riga ist mit 730.000 Einwohnern die größte Stadt im Baltikum. Was man auch bei der Einfahrt schon merkte. So viele Autos, Ampeln, Straßen und Verkehrschaos hatten wir schon ewig nicht mehr gesehen. Für diese Nacht hatten wir uns wieder mal einen „City-Camping-Platz“ ausgesucht und hofften, dass dieser besser ist als in Tallinn. Dort angekommen waren wir erstaunt, dass man es geschafft hatte, einen alten Messeparkplatz zu einem halbwegs passablen Camping-Platz umzubauen. Der Mann an der Rezeption konnte einige Brocken deutsch und erklärte uns und dem anderen angekommen deutschen Pärchen erst einmal die Basics. Ein junger Bursche musste dann vor unserem Auto herlaufen und uns zeigen wo wir uns hinzustellen haben. Da wurde jeder Quadratmeter optimal ausgenutzt. Nun standen wir zwischen einem ziemlich coolen, umgebauten Omnibus mit deutschem Kennzeichen und dem Pärchen aus der Hamburger Region.
</p>
<p>An diesem Tag wollten wir noch die Stadt unsicher machen, denn es war ja noch Wochenende und in der Hauptstadt wäre bestimmt etwas geboten. Wir schnappten uns unsere Fahrräder und radelten die 3 km bis in Zentrum. Dort angekommen machten wir bei bestem Wetter einen Spaziergang durch die Altstadt. In Riga ist echt was los! Aber anders als wir es aus den letzten Städten kannten. Hier waren viele Menschen unterwegs, die ganz schön „beinander“ waren. Aber auch kein Wunder: Jede Kneipe warb am Eingang mit großen Schildern „Vodka, Rum: 0,70 LVL (1 Euro)“. Ach ja, und 2 halbe Bier gibt’s im Angebot für insgesamt 1,70 LVL (2,30 Euro) – weil sich eins so schlecht verkauft :-D.
</p>
<p>In der Stadt gab es aber natürlich noch viel mehr zu sehen. Kirchen, Brücken, Monumente und sehr viele Jugendstilhäuser. Riga gilt als das Mekka für Jugendstil im Norden Europas. Nicht alle Häuser sind bislang restauriert, vor allem außerhalb der Altstadt. Aber man sehr gut erahnen, wie reich und bunt die Stadt im 19. Jahrhundert ausgesehen haben muss. Nach ein bisschen Sightseeing kehrten wir am Domplatz ein, um zwei von diesen günstigen Bierchen zu trinken. Um 19 Uhr begann eine Liveband zu spielen, so dass wir gleich zum Essen sitzen blieben und uns dazu noch ein weiteres Bierchen gönnten. Bei der Ankunft am Campingplatz waren wir ein weiteres Mal sehr überrascht, denn wer hätte gedacht, dass man so viele Wohnmobile auf diesen Parkplatz bringt. Da hatten wir mit unserem Platz total Glück. Nachdem wir so früh angekommen waren, gab es für uns noch Platz auf der Wiese mit Abstand zum Nachbarn und kein geschottertes Eck gleich vor den Sanitäranlagen.
</p>
<table data-title='2012-07-22-lettland'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-22-lettland/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-22-lettland/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-22-lettland/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-07-22-09-37-europa-lettland_R.small.gpx"></div>
</p>
<p>Am nächsten Morgen war große Hektik am Campingplatz. Wir hatten das Gefühl keiner will länger bleiben als unbedingt nötig. Auch das Pärchen aus Hamburg machte Druck! Sie müssen los, frühstücken und Stadt anschauen!!! Wir warteten in unserem Campingsofa bei einer Tasse Kaffee, bis sich alles beruhigte, duschten erst mal in Ruhe und quatschten noch ne Stunde mit den Leuten aus dem kunterbunten Bus. Die sind in den letzten Jahren mit diesem Gefährt mit ihren vier Kindern plus Hund immer wieder in verschiedenen Ländern gereist. In diesem Sommer touren sie damit drei Wochen durch Lettland. Eine der Töchter bleibt dann am Ende in Riga, um dort ihr Medizinstudium zu beginnen. Echt spannend! Und tut echt gut ab und an ganz liebe Leute zu treffen, mit denen man sich auch über mehr als nur das Wetter unterhalten kann.
</p>
<p>Dann fuhren auch wir endlich mit unseren Rädern in die Stadt, da um 12 ja schon die Stadtführung von „Like a local“ beginnt. Mit den Studenten hatten wir ja schon in Tallinn super Erfahrungen gemacht. Auch dieses Mal wurden wir nicht enttäuscht und die Studentin, die für über zwei Stunden unser Guide war, machte einen super Job! Mit viel Witz und tollen Geschichten führte sie uns hauptsächlich außerhalb der Altstadt herum. Das fanden wir besonders toll, weil man in diesen Teil als Tourist nicht so oft vordringt. Wir erfuhren viel aus der Geschichte Lettlands und sahen historische Gebäude, etwa das im Volksmund als „Stalin’s Birthday Cake“ bezeichnete Hochhaus. Agnes, unsere Stadtführerin, erklärte uns, dass die Sowjets gerne mal was richtig Großes, Monumentales ohne viel Sinn gebaut haben wie dieses Hochhaus, einfach um zu zeigen, dass sie das können. Das fanden wir dann später bei dem sowjetischen Denkmal am Stadtrand für den Sieg über die Nazis bestätigt. Bescheiden ist anders. Die Letten sind nach wie vor nicht sonderlich begeistert über dieses Erbe und auch heute noch gibt es viele Vorbehalte zwischen den Letten und den zahlreichen Russen, die im Land leben. Agnes meinte, in der Regel bleiben die beiden Gruppen lieber für sich. Hm, Integrationsprobleme scheint es leider wohl überall zu geben.
</p>
<p>Nach der sehr interessanten Tour und einer kleinen Erholung in einem Cafe machten wir uns dann weiter auf Richtung Süden, da wir zum Übernachten an einen Platz in der Pampa kurz vor der litauischen Grenze gedacht hatten.
</p>
<table data-title='2012-07-23-lettland'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-23-lettland/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-23-lettland/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-23-lettland/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-07-23-10-31-europa-lettland_R.small.gpx"></div></p>
