---
title: 'Sommer in Norwegen!'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, GPX, Karte, Norwegen, Reise, Route, Urlaub ]
---
<p>(22. – 24. Mai) Oslo – Hjartdal – Hovden – Sedestal – Stavanger
</p>
<table data-title='2012-05-22-norwegen'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-05-22-norwegen/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-05-22-norwegen/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-05-22-norwegen/3.jpg'/></a></td>
</tr>
</table>
<p>Es ist warm, eigentlich richtig heiß! Hätte nicht gedacht, dass wir jetzt hier schon in den Genuss kommen, unserer kurzen Sachen anzuziehen. Vor allem deshalb nicht, weil wir immer mehr Schnee sehen! Von Oslo aus haben wir uns quer durchs Land Richtung Stavanger an der Westküste aufgemacht. Dort im Landesinneren sieht natürlich alles ganz anders aus als an der Küste; eher so, wie man sich Norwegen typischerweise vorstellt: schneebedeckte Berge, steile Felsen, dunkle Seen. Im Skiort Hovden haben wir nachmittags ein paar gemütliche, aber auch irgendwie surreale Stunden verbracht. Es ist so warm, dass man sich sonnen und am Badesee liegen kann, im Hintergrund glitzern aber die schneebedeckten Berge. Marco hat sich sogar todesmutig ganze ... sagen wir ... fünf Sekunden ins Wasser gewagt. Seeeehr erfrischend! Auf einen Schlag sind dann eine ganze Gruppe Jugendlicher samt Grill und Ghettoblaster dort aufgetaucht, haben sich gesonnt und Volleyball gespielt. Da sie untereinander zum Teil auch englisch gesprochen haben, hatten wir irgendwie den Eindruck, wir sind vielleicht aus Versehen zu weit gefahren und in Kanada gelandet. Aber nein, ist immer noch Norwegen. Abends haben wir dann auch gleich typisch norwegisch gegrillt mit Würstchen, Fladen, Senf und Ketchup und Röstzwiebeln. Typischer norwegischer Hotdog.
</p>
<table data-title='2012-05-23-norwegen'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-05-23-norwegen/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-05-23-norwegen/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-05-23-norwegen/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-05-23-09-13-europa-norwegen_R.small.gpx"></div>
</p>
<p>Eigentlich dachten wir ja, in Hovden liegt viel Schnee. Aber auf unserem Weg weiter nach Stavanger überquerten wir unsere erste Hocheben, ein Fjell. Und dort lang mal richtig Schnee! Wahnsinn! Auf dem höchsten Punkt auf über 1000 Meter türmte sich der Schnee links und rechts der Straße höher als der Bus auf. Sämtliche Seen dort oben sind noch mehr oder minder zugefroren. Aber immer noch war es so warm, dass wir uns sonnen konnten. Das war definitiv einer der ausgefallensten Rastplätze, auf denen wir bisher waren! Und so schön!
</p>
<table data-title='2012-05-24-norwegen'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-05-24-norwegen/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-05-24-norwegen/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-05-24-norwegen/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-05-24-09-15-europa-norwegen_R.small.gpx"></div></p>
