---
title: 'Sehnsucht nach Nürnberg'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Finnland, GPX, Karte, Reise, Route, Urlaub ]
---
<p>28. Juni – 01. Juli (Oulu, Kuopio, Enonkoski)
</p>
<p>Nachdem wir Abend erfahren hatten, dass auf unserem weiteren Weg Richtung Süden leider nicht all zu viele Sehenswürdigkeiten liegen und der nächste größere Ort 300 km entfernt ist, beschlossen wir am morgen noch einen Spaziergang am Strand von Oulu zu machen und dann direkt bis Kuopio durchzufahren. Dort sollte es einen schönen Campingplatz geben, an dem wir hofften, „unsere“ Mannschaft siegen zu sehen.
</p>
<p>Wir fuhren die Strecke wieder nur durch Wald – endlos viel Wald. Ab und an mal eine Schneise mit ein paar Häuschen, aber ansonsten haben Sven und Essi Recht behalten mit ihrer Beschreibung.
</p>
<p>Auf der Fahrt quatschen wir über die vergangenen Tage und Wochen und irgendwie stellten wir auf einmal fest, dass wir Sehnsucht bekommen nach einem richtigen Nürnberger Bratwurstweckla. Nach all den „falschen“ Würsten in der letzten Zeit wäre das wirklich mal ein Schmankerl. Sven hatte erwähnt, dass der LIDL in Finnland sehr viele deutsche Produkte hat. In Kuopio angekommen war das auch unser erster Halt. Glücklich verließen wir den Laden mit Nürnberger Würstl und freuten uns auf ein EM-Spiel mit Nürnbergern :-)
</p>
<p>Bei der Ankunft am Campingplatz wurde jedoch unser Traum zerstört. Frei im Wald oder am Meer stehen liegt uns wohl mittlerweile viel mehr als sich in die Reihen an einem Campingplatz einzuordnen. Wir sparten uns die Gebühr für den Campingplatz und fuhren lieber auf einen Parkplatz in der Innenstadt – Grillen können wir ja morgen auch noch außerhalb. In einer Sportsbar in Kupio bestellten wir zwei Bierchen und schauten mit den Finnen das EM-Spiel, die in der ersten halben Stunde sogar noch Deutschland-Fans waren. Nach dem leider nicht so glücklichen Ausgang schlenderten wir noch ein bisschen durch die Stadt und überlegten am nächsten Tag in der Früh zu einem Badeplatz in Stadtnähe zu fahren.
</p>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-06-28-12-56-europa-finnland_R.small.gpx"></div>
</p>
<p>Dort angekommen packten wir erst mal unser Campingsofa aus und legten die Füße hoch. Es herrschte zum Glück richtig schönes Wetter mit Sonnenschein. Die vielen gefahrenen Kilometer des Vortages schienen uns noch in den Knochen zu stecken, denn irgendwie kamen wir dann den ganzen Tag nicht richtig in die Gänge. Aber da das Wetter so super war, tat es einfach nur gut, einen Tag am See herumzuhängen. Am Bootssteg lernte ich einen jungen Russen kennen, der mir eine Einweisung in das Fischen am See gab. Ich hatte ein kleines Deja-vu. Er erzählte mir nämlich wie der Franzose vor ein paar Wochen in Norwegen, dass ich ein bisschen anderes Equipment bräuchte. Kurz darauf schenkte er mir erst mal die richtigen Haken und Maden. Den Mais, mit dem ich es zuerst versucht hatten, verfütterten wir dann an die Enten:-D So hatte jeder was davon!
</p>
<p>Gekrönt war der Angeleinstieg mit einem Barsch und einem Aland – die laut Aussagen des Russen eine ordentliche Größe hatten. In Norwegen hätte man so einen Fisch direkt wieder ins Meer zurückgeworfen. Naja – die Finnen sind genügsam – auch in der Größe der Fische.
</p>
<p>Unsere Nürnberger Würstel wichen also ein weiteres Mal einem anderen Abendessen. Die Fische waren lecker, aber hatten leider viele Gräten. Danach machten wir uns auf in die Stadt, denn ab heute war ein Weinfestival in Kupio. Aber: 22 Euro Eintritt pro Person, ohne Wein oder Essen. Wir schauten uns ein bisschen entsetzt an – in Nürnberg verlangt nie jemand was für den Besuch des Altstadtfestes oder? Wir fielen wieder in unser „Studentendasein“ zurück und kauften uns im Supermarkt lieber noch ein Sixpack :-D Das genossen wir dann natürlich direkt neben dem Festivalgelände und schauten den Booten zu, die im Hafen herumkreisten.
</p>
<table data-title='2012-06-29-finnland'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-06-29-finnland/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-06-29-finnland/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-06-29-finnland/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-06-29-07-36-europa-finnland_R.small.gpx"></div>
</p>
<p>Nach einem Tag rumlungern wollten wir am Samstag mal wieder aktiv sein. In Stadtnähe gab es einen Aussichtsturm, zu dem man wandern konnte, und außerdem hatten wir der traditionellen Markthalle ja noch keinen Besuch abgestattet. Nach einer kleinen Stärkung mit neuen finnischen Leckereien genossen wir einen Blick über die Stadt. Hier wurde uns erst mal so richtig bewusst, wie unsere Umgebung überhaupt aussieht. Von unten betrachtet denkt man, immer nur in einem riesigen Wald zu stehen. Wenn man aber vom Aussichtsturm herunter schaut, sieht man einen See mit supervielen – natürlich bewaldeten – Inseln. Abends haben wir uns noch richtigen Luxus gegönnt: zwei Stunden Spa in einem Wellnesshotel! Der Blick auf die Preisliste hat uns nämlich verraten, dass es günstiger ist, in ein Wellnesshotel zu gehen als auf einem Campingplatz einzuchecken ... echt komisch :-)
</p>
<table data-title='2012-06-30-finnland'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-06-30-finnland/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-06-30-finnland/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-06-30-finnland/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-06-30-11-11-europa-finnland_R.small.gpx"></div>
</p>
<p>Am Sonntag musste wieder mal Bewegung her. Außerdem wollten wir doch endlich mal unser Würstchen grillen! Wir entschlossen uns zu einem Ort zu fahren, von dem aus wir in zwei unterschiedliche Nationalparks starten konnten.
</p>
<p>Im Kolovesi-Nationalpark gab es auch einige Wanderwege, davon zum Teil mit „extrem schwierigem Weg“ - so stand es in der Beschreibung. Nachdem wir 3 km mit dem Auto über einen sehr schmalen Schotterweg gefahren waren – wir glaubten schon kaum, dass es da noch weitergeht - standen wir auf einmal am Startpunkt des Wanderweges. Für jemanden, der öfters mal in der Fränkischen Schweiz einen Ausflug macht, ist der Wanderweg ehr normal als extrem! Wir fanden nach zirka 1,5 km einen super Zeltplatz, der sich ansonsten nur mit einem Boot erreichen lässt. Hier wollten wir unsere Nacht verbringen. Wir packten unser Zelt und ließen nach zwei Monaten das erste Mal den Bus über Nacht alleine. Dafür wurden wir aber mit einem wunderschönen finnischen Sommerabend belohnt, sogar ohne Moskitos! Ja, es war tatsächlich so warm, dass Dany mal kurz in den See gesprungen ist. Die Landschaft an diesem stillen, dunklen See war wirklich wunderschön und außer unseren Campingnachbarn die wir an einem mehrere 100 Meter entfernten Steg erkennen konnten hat man nur ein paar Vögel und den Wind in den Bäumen gehört. Unser Fazit an diesem Abend: Wir hätten nicht gedacht, dass wir Finnland noch soviel abgewinnen können ;-)
</p>
<table data-title='2012-07-01-finnland'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-01-finnland/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-01-finnland/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-01-finnland/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-07-01-10-57-europa-finnland_R.small.gpx"></div></p>
