---
title: 'Die Obermeyers in der Weinregion'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, GPX, Karte, Reise, Route, Urlaub ]
---
<p>16. – 20. August (Jelenc , Neusiedler See)
</p>
<p>Das Wetter war an unserem letzten Morgen in der Slowakei wieder mal hervorragend, was zur Folge hatte, dass wir uns leider wieder mal überhaupt nicht aufraffen konnten loszufahren. Nach unserem Motto „Vor 12 geht sowieso nix“ beschlossen wir im Campingsofa rumzuliegen, uns zu unterhalten und einfach nur durch die Gegend zu schauen. Dany pflückte ab und an noch einmal ein paar frische Zwetschgen, denn die wurden hier scheinbar von niemandem geerntet.
</p>
<p>Um kurz vor 12 rafften wir uns dann doch einmal auf und verließen den etwas heruntergekommen Campingplatz, an den wir uns doch schon sehr gut gewöhnt hatten.
</p>
<table data-title-off='2012-08-15-slowakei'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-08-15-slowakei/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-08-15-slowakei/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-08-15-slowakei/3.jpg'/></a></td>
</tr>
</table>
<p>Die letzten Kilometer bis Bratislava ging es über die gut ausgebaute Autobahn. Bratislava war die erste Hauptstadt, die wir „ausgelassen“ haben, und so ging unsere Reise nur an den großen Plattenbauten vorbei, die man von der Autobahn aus sehen konnte. Im Reiseführer stand jedoch, dass Bratislava nahezu unbeschadet durch die Kriege gekommen ist und deshalb eine sehr schöne Altstadt haben soll. Wieder ein Ort, für den es sich auf jeden Fall lohnt in das Land zurückzukommen.
</p>
<p>Nun also Ankunft in Österreich! Das war ja ursprünglich gar nicht auf unserer Reiseroute verzeichnet, aber da Danys Eltern in der Nähe von Wien etwas zu erledigen hatten, haben wir unsere Route spontan umgestellt. Definitiv ein Vorteil einer solchen Langzeitreise. 
</p>
<p>Wir hatten ausgemacht, uns am Neusiedler See nahe der ungarischen Grenze zu treffen. Dort angekommen hatten wir den totalen Camper-Flash. So viele Campingplätze, Wohnmobile und Touristen auf Fahrrädern hatten wir auf der ganzen Reise noch nirgends gesehen! Beim ersten Campingplatz erfuhren wir, dass im Norden des Sees gerade Europameisterschaft im Laser-Segeln ist. Das sind ganz kleine, extrem wendige Segelboote. Wegen der EM sei angeblich alles in der nördlichen Seeregion belegt. Wir dürften aber auf den geteerten Parkplätzen stehen und die Sanitäranlagen des Campingplatzes benutzen. Na, dann schauten wir doch lieber erst mal weiter.
</p>
<p>Danys Eltern hatten wir zugesagt, uns auch noch um ein Zimmer für die beiden zu kümmern. In Rust – wo wir uns eigentlich verabredet hatten – war das gleiche Spiel. Am Campingplatz war alles voll und auch hier meinte die Dame: Solange die Operettenfestspiele sind hätten wir hier keine guten Karten.
</p>
<p>Uiuiui, gaaaanz schön schwierig in einer so belebten Region mit dem Camper zu stehen. Wenn uns das auf der ganzen Reise zu gegangen wäre, wären wir mal ziemlich genervt gewesen!
</p>
<p>Knappe 10 Kilometer von Rust entfernt hatten wir aber doch noch Glück am Campingplatz Oggau. Hier konnten wir sogar zwischen ein paar freien Plätzen wählen. Bei Nachfrage an der Rezeption, wo wir denn noch ein Zimmer bekommen würden, fragte die Dame leicht entsetzt: „Für heute??“ Wir bejahten und dann griff sie auch gleich zum Hörer. Kurz darauf hatte sie herausgefunden: „Es gibt angeblich nur noch ein einziges Zimmer in Oggau, aber da geht keiner ran“ – Stress!!! Dany und ich stellten unseren Bus auf den Platz und versuchten es dann noch ein paar Mal bei der „Pension Barbara“. Plötzlich ging jemand ran und wir hatten Glück! Das letzte Zimmer hat sie uns gleich reserviert.
</p>
<p>Irgendwie mussten wir uns erst mal auf die neue Situation einstellen. Die letzten Tage waren wir wieder mehr oder weniger alleine an einem Campingplatz und auch am Tag sah man nicht allzu viele Touristen. Hier ist das alles anders :-) Der Neusiedler See ist ein Steppensee wie der Balatonsee in Ungarn und dadurch extrem gut geeignet für Weinbau in der Umgebung. Das in Verbindung mit dem verlängerten Wochenende (Feiertag am 15. August in Österreich), dem perfekten Wetter und den vielen Veranstaltungen sorgte für einen immensen Besucherstrom.
</p>
<p>Bis Danys Eltern bei uns am Campingplatz ankamen machten wir uns es erst mal mit einem Kaffee gemütlich und gewöhnten uns an unsere vielen neuen Nachbarn.
</p>
<p>Um 19 Uhr war dann die Wiedersehensfreude groß und wir auch ganz froh, dass wir wussten, wo die beiden heute Nacht schlafen werden. Nachdem wir die ersten Neuigkeiten ausgetauscht hatten, suchten wir die Pension Barbara und waren sehr erfreut, dass diese gar nicht all zu weit vom Campingplatz weg war.
</p>
<p>Die Pension war durch einen großen Schriftzug gekennzeichnet, sonst wären wir wahrscheinlich in der kleinen Gasse vorbei gefahren. Im Erdgeschoss waren alle Rollos heruntergelassen, so dass wir erst dachten: „Das hat doch zu, oder?“ Als wir aber klingelten, machte eine nette Dame auf, die uns erklärte, sie müsse alle Rollos wegen der Hitze heruntermachen. Das Zimmer war nett und nicht weit weg vom Zentrum der Ortschaft. Passt!
</p>
<p>Bei der Frage wo man denn hier gut essen könnte, fing die Frau erst ein bisschen an zu stammeln: „Ich will ja keine Werbung machen – und natürlich auch keinem schlecht nachreden“. Dann rückte sie aber doch damit heraus, dass ihr Bruder einen Heurigen hat, wo es nicht nur Wein, sondern auch Hausschlachtung gibt. „Heurigen“ werden hier die Hinterhöfe von Winzern genannt, in denen die eigenen Weine zusammen mit einer guten zünftigen Brotzeit verkauft werden. Einige von euch werden das so wie wir auch unter „Besenwirtschaft“ oder „Heckenwirtschaft“ in Franken abgespeichert haben.
</p>
<p>Die nächsten Tage machten wir uns es zur Aufgabe, die Heurigen in den umliegenden Ortschaften zu erkunden und hier und da den einheimischen Winzern was Gutes zu tun ;-)
</p>
<table data-title='2012-08-16-slowakei'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-08-16-slowakei/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-08-16-slowakei/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-08-16-slowakei/3.jpg'/></a></td>
</tr>
</table>
<p>Einen Tag fuhren wir noch ein bisschen Richtung Wien, wo sich Karl bei einem Wohnkabinenbauer eine Wohnkabine fürs Auto genauer ansehen wollte. Das war natürlich auch genau auf meiner Wellenlänge und ich freute mich, dass wir uns das mit den beiden gemeinsam ansehen konnten. Echt cool, was der Typ da in seiner Werkstatt zusammenbastelt: www.geocar.com
</p>
<p>Die Eindrücke konnten wir danach natürlich auch am Besten in einem Heurigen verdauen :-)
</p>
<table data-title-off='2012-08-17-oesterreich'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-08-17-oesterreich/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-08-17-oesterreich/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-08-17-oesterreich/3.jpg'/></a></td>
</tr>
</table>
<p>Am Samstag machten wir uns dann auf nach Mörbisch. Das liegt ein kleines bisschen südlicher als unser Campingplatz und dort ist die Seebühne für die Operettenfestspiele. Angeblich die größten Europas. Karl hatte vier Karten für die Samstagsvorstellung bekommen und so wollten wir mittags schon mal die Gegend erkunden. Nachdem hier am See eher Radfahren als Wandern möglich ist wichen wir auf eine Bootsfahrt aus und schauten uns die Gegend ganz gemütlich vom Wasser aus an. Das Boot machte auch einen kleinen Abstecher nach Ungarn – was ja unser nächstes Reiseziel ist.
</p>
<p>Die Zeit zwischen Bootsfahrt und Beginn der Vorstellung verbrachten wir – wer hätte es gedacht – in einem Heurigen :-) Dort gab es wieder lecker Wein und ganz viele selbstgemachte Köstlichkeiten von der Oma.
</p>
<p>Gegen 19 Uhr gingen wir dann zur Seebühne. Echt eine super Location! Von der Tribüne aus hatte man einen tollen Blick über den Neusiedler See im Hintergrund und die Bühne, die in den See reingebaut ist.  Wie wir überschlagen hatten, gehen knapp 7000 Leute auf die Tribüne. Und es war nahezu ausverkauft. Kein Wunder, dass man da fast kein Zimmer mehr bekommt. Die Operette war echt toll. „Die Fledermaus“ von Johann Strauss. Hätte ich anfänglich auch nicht gedacht, dass es mir so gut gefällt! Sehr abwechslungsreich und wirklich was ganz Besonderes! Solltet ihr also mal hier sein, dann sind die Seefestspiele in Mörbisch ein Tipp!
</p>
<p>Am Sonntag verließen uns dann Danys Eltern wieder. Und so fahren die einen Obermeyers jetzt nach Deutschland und die anderen zwei nach Ungarn ;-)
</p>
<table data-title='2012-08-18-oesterreich'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-08-18-oesterreich/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-08-18-oesterreich/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-08-18-oesterreich/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-08-15-11-22-europa-slowakei_R.small.gpx"></div></p>
