---
title: 'GPX'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, GPX, Karte, Route ]
---
<p><div class="map" gpx="<%= @site.base_url %>/gpx/zusammenfassung.small.gpx" style="width:529px; height:350px; border:1px solid gray; margin-right:0px; margin-bottom:15px; float:left;"]
</p>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-05-11-12-03-europa-schweden-08-stockholm.small.gpx" style="width:529px; height:350px; border:1px solid gray; margin-right:0px; margin-bottom:15px; float:left;"]
</p>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-05-11-06-26-europa-schweden-07.small.gpx" style="width:529px; height:350px; border:1px solid gray; margin-right:0px; margin-bottom:15px; float:left;"]
</p>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-05-11-06-26-europa-schweden-07.small.gpx" style="width:529px; height:350px; border:1px solid gray; margin-right:0px; margin-bottom:15px; float:left;"]
</p>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-05-10-15-39-europa-schweden-06.small.gpx" style="width:529px; height:350px; border:1px solid gray; margin-right:0px; margin-bottom:15px; float:left;"]
</p>
<p>[o-map gpx="<%= @site.base_url %>/gpx/2012-05-09-09-52-europa-schweden-05.small.gpx" style="width:529px; height:350px; border:1px solid gray; margin-right:0px; margin-bottom:15px; float:left;"]
</p>
<p>[o-map gpx="<%= @site.base_url %>/gpx/2012-05-07-10-57-europa-kalmar.small.gpx" style="width:529px; height:350px; border:1px solid gray; margin-right:0px; margin-bottom:15px; float:left;"]
</p>
<p>[o-map gpx="<%= @site.base_url %>/gpx/2012-05-07-08-20-europa-schweden-03.small.gpx" style="width:529px; height:350px; border:1px solid gray; margin-right:0px; margin-bottom:15px; float:left;"]
</p>
<p>[o-map gpx="<%= @site.base_url %>/gpx/2012-05-06-09-12-europa-schweden-02.small.gpx" style="width:529px; height:350px; border:1px solid gray; margin-right:0px; margin-bottom:15px; float:left;"]
</p>
<p>[o-map gpx="<%= @site.base_url %>/gpx/2012-05-05-11-32-europa-schweden-01.small.gpx" style="width:529px; height:350px; border:1px solid gray; margin-right:0px; margin-bottom:15px; float:left;"]
</p>
<p>[o-map gpx="<%= @site.base_url %>/gpx/2012-05-04-10-02-europa-daenemark-kopenhagen.gpx" style="width:529px; height:350px; border:1px solid gray; margin-right:0px; margin-bottom:15px; float:left;"]
</p>
<p>[o-map gpx="<%= @site.base_url %>/gpx/2012-05-03-12-12-europa-daenemark-02.gpx" style="width:529px; height:350px; border:1px solid gray; margin-right:0px; margin-bottom:15px; float:left;"]
</p>
<p>[o-map gpx="<%= @site.base_url %>/gpx/2012-05-02-10-00-europa-daenemark-01.gpx" style="width:529px; height:350px; border:1px solid gray; margin-right:0px; margin-bottom:15px; float:left;"]
</p>
<p>[o-map gpx="<%= @site.base_url %>/gpx/2012-05-01-10-39-europa-deutschland-02.gpx" style="width:529px; height:350px; border:1px solid gray; margin-right:0px; margin-bottom:15px; float:left;"]
</p>
<p>[o-map gpx="<%= @site.base_url %>/gpx/2012-04-29-14-34-europa-deutschland-01.gpx" style="width:529px; height:350px; border:1px solid gray; margin-right:0px; margin-bottom:15px; float:left;"]</p>
