---
title: 'A deures Fischweggla in Bergen ...'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, GPX, Karte, Norwegen, Reise, Route, Urlaub ]
---
<p>(29. – 30. Mai) Granvin – Bergen – Byrkielo
</p>
<p>Man merkt langsam, dass in Norwegen die Hauptsaison startet: immer mehr Wohnmobile und Wohnwägen sind auf der Straße unterwegs und immer wieder teilen wir unseren Übernachtungsplatz großzügigerweise mit anderen Reisenden. An den Fjords ist es auch nicht ganz so einfach, frei zu stehen, denn so viele kleine Straßen und Wege, in die wir mal schnell abbiegen könnten, gibt’s hier nicht. Die Straßen hier verdienen meiner Meinung nach auch nicht immer den Namen „Straße“. Im einen Moment noch breit, frisch geteert und mit Mittelstreifen, ist genau die gleiche Hauptverbindungsstraße hinter der nächsten Kurve super schmal und mit Schlaglöchern. Da passiert es dann durchaus, dass zwei Wohnmobile (warum kauft sich hier eigentlich jeder die gaaanz großen?) nicht aneinander vorbei passen und dann wird rangiert und geschoben und was weiß ich. Vor allem übers lange Pfingstwochenende sind wir da öfter mal hineingeraten. Ich bin echt froh, dass unser Bus noch relativ klein und schmal ist. Und dass Marco so ein guter Fahrer ist ;-)
</p>
<table data-title='2012-05-29-norwegen'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-05-29-norwegen/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-05-29-norwegen/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-05-29-norwegen/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="<%= @site.base_url %><%= @site.base_url %>/gpx/2012-05-29-09-20-europa-norwegen_R.small.gpx"></div>
</p>
<p>Unsere nächste Station war Bergen, eine schöne alte Hafenstadt mit viel ... Tourismus. Aber es ist wirklich toll dort! Wir sind durch das alte Hafenviertel mit lauter alten Holzgebäuden gelaufen, haben uns den Soundcheck für das Ozzy-Osboure-Konzert neben der Festung angehört und unsere wahrscheinlich teuersten Fischsemmeln auf der Reise gegessen, für 21 Euro. Ach ja, Marco hat sich weiteres sehr wichtiges Angel-Equipment besorgt, zum Beispiel einen Eimer. Und dann angelt es sich ja mit einer eigenen Angel am besten ...
</p>
<p>Abends haben wir uns mit zwei schwedischen Campingbussen einen Platz am Fjord geteilt. Und hier wurden wir doch tatsächlich das erste Mal „vertrieben“. Eine ältere Dame kam im Auto angefahren und sagte erst auf norwegisch, dann auf englisch zu mir, das hier sei kein Campingplatz. Ich meinte, das täte mir leid, wir haben kein Schild oder so was gesehen. Darauf zeigt sie nur hinter sich an den Laternenpfosten. Und tatsächlich: wenn man 50 cm direkt vor dem Pfosten stand, konnte man einen kleinen gelben Post-it-Zettel erkennen, auf dem „No Camping“ stand. Nachdem die Dame dann auch noch anfing, mit einer Handpumpe mit (vielleicht) Pflanzenschutzmittel die Bäumchen dort zu besprühen, sind wir dann mal lieber weitergefahren ... und siehe da, wir haben 3 Kilometer weiter einen viel schöneren Platz gefunden, an dem wir alleine waren.
</p>
<table data-title='2012-05-30-norwegen'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-05-30-norwegen/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-05-30-norwegen/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-05-30-norwegen/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="<%= @site.base_url %><%= @site.base_url %>/gpx/2012-05-30-10-12-europa-norwegen_R.small.gpx"></div></p>
