---
title: 'Von Smaland nach Stockholm'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, GPX, Karte, Reise, Urlaub ]
---
<p>10. – 11. Mai (Eksjö – Nyköping – Stockholm)
</p>
<p>Nächster Halt im kleinen, feinen Städtchen Eksjö. Dort sind besonders viele der historischen, schönen bunten Holzhäuser erhalten geblieben. Auch wenn der Eindruck auf den Fotos ein anderer scheint: Es war durchaus belebt in der Innenstadt!
</p>
<table data-title='2012-05-10-schweden'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-05-10-schweden/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-05-10-schweden/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-05-10-schweden/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-05-11-06-26-europa-schweden-07.small.gpx"></div>
</p>
<p>Abends auf dem Campingplatz hat es geregnet, was an sich ja nichts Besonderes ist. Aber uns ist da erst aufgefallen, dass wir seit unserer Abreise fast immer Sonnenschein hatten! Naja, bewölkt war’s auch oft. Aber eben vom Regen, der das Zusammenleben in unserem doch recht kleinen Bus etwas schwierig machen würde, blieben wir bislang relativ verschont. Südschweden hat ja laut Reiseführer fast so viele Sonnenstunden wie Madrid. Glaub ich gerne. Allerdings wurde uns der kalte Wind verschwiegen, der hier doch ab und an ganz schön heftig bläst. Die gefühlte Temperatur liegt dann eher bei 8 Grad, nicht 18, wie das Thermometer hier oft anzeigt.
</p>
<p>&nbsp;
</p>
<p>Von Eksjö aus sind wir mal wieder ein längeres Stück gefahren haben, haben das einsame Smaland hinter uns gelassen und sind in den Trubel von Stockholm eingetaucht. Das ist ja mal wirklich eine wunderschöne Stadt! Die Altstadt liegt auf vielen kleinen Inseln verstreut, überall gibt es Kanäle, Schiffe, Brücken und Parks. Überhaupt ist die Stadt sehr grün. Da wir soviel anschauen wollten, hatten wir leider keine Zeit, Daniel, Victoria und die kleine Estelle zu besuchen. Wir mussten sie auf unseren nächsten Besuch in Stockholm vertrösten. Ich könnte mir wirklich gut vorstellen, hier noch einmal her zu fahren, denn es gibt wirklich viel zu sehen!
</p>
<table data-title='2012-05-11-schweden'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-05-11-schweden/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-05-11-schweden/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-05-11-schweden/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-05-11-12-03-europa-schweden-08-stockholm.small.gpx"></div>
</p>
<p>Übrigens lernen wir auch jeden Tag ein bisschen mehr Schwedisch. Nach „tack“ (Danke), „Hej“ (Hallo), „husbil“ (Wohnmobil) und „kreditkort“ (versteht man), können wir nun auch schon ganze Sätze sagen, wie „Du är här“ (Sie sind hier. Liest man immer auf Stadtplänen) und .... Achtung! „Jag inte talar svenska.“ Oder so ähnlich. Naja, ich spreche halt kein Schwedisch.</p>
