---
title: 'Camping unter der Skispungschanze'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, Lettland, Reise, Route, Urlaub ]
---
<p>19. – 20. Juli (Valmiera, Cesis)
</p>
<p>Erster Tagesordnungspunkt für heute: Besichtigung der heiligen Eiche, auf lettisch „Simanenu svetozols“. Als wir in den kleinen Feldweg einbogen, der laut Karte zu der Eiche führt, sprang uns sofort ein „Privatweg! Durchfahrt verboten“-Schild ins Auge. Aha! Wie sollen wir dann dorthin gelangen? Dasselbe ist uns übrigens gestern an unserem Übernachtungsplatz auch schon passiert. Dort gibt es einen Wanderweg vorbei an alten Mühlen und Bauernhäusern, der aber mit einer Kette plus zugehörigem Verbotsschild abgesperrt war. Weiter hinten konnten wir noch die erste Erklärungstafel am Wegesrand sehen, aber offensichtlich waren Touristen dort nicht so erwünscht. Das alles führte natürlich gleich dazu, dass unser erster Eindruck von Lettland eher gemischt war und wir schon am ersten Tag wehmütig an Estland zurück dachten.
</p>
<p>Aber so leicht ließen wir uns nicht abschütteln, stellten unseren Wagen einfach mitten im Weg ab und liefen die paar hundert Meter bis zur Eiche. Die war dann schon sehenswert, mit einem Umfang von 8 Metern und 21 Meter hoch. Der Stamm war teilweise mit Steinen und Mörtel zugemauert, damit der heilige Baum dann doch nicht irgendwann umfällt.
</p>
<p>In der Stadt Valmiera deckten wir uns anschließend mit Kartenmaterial für den Gaujas-Nationalpark ein. Auf Natur stehen wir ja eh und in Estland hatten wir sehr gute Erfahrungen gemacht, in den Parks an ausgewiesenen Feuerstellen zu übernachten. Auf unserem Weg vom Touristenoffice zurück zu Bus kamen wir an einem netten Cafe unter Bäumen vorbei und dachten: Zeit für eine Mittagspause! Weil das Ganze offensichtlich mit Selbstbedienung lief, gingen wir hinein und staunten nicht schlecht! Das sah eher aus wie in einer Kantine, mit riesigem Salatbuffet, Fisch, Fleisch, Beilagen und Desserts. Für uns war das super, weil wir einfach auf das deuten konnten, was wir wollten! Das Mädel hinter der Theke konnte zwar englisch, aber es ist auch nicht schlecht, wenn man sieht, was man dann isst. Das Essen war echt gut und für zwei Portionen plus Salat und Dessert haben wir insgesamt 10 Euro gezahlt! Das fanden wir natürlich auch gut. So gut sogar, dass wir am nächsten Tag gleich wieder dort waren zum Mittagessen. Statt Gulasch gab’s diesmal Lachs für mich.
</p>
<p>Für die Nacht dazwischen hatten wir mal wieder auf einem Campingplatz in der Nähe von Valmiera eingecheckt. Das war ein seltsamer Ort! Eigentlich ist das ein Wintersportzentrum. Von unserem Bus aus blickten wir deshalb auf etliche Schneekanonen, mehrere kleine Schlepplifte und sogar eine Skisprungschanze, die jedoch ihre besten Tage schon hinter sich hatte. Schnee gibt’s ja wohl sehr viel in Lettland, aber Berge?? An diesen Abfahrten lernen bei uns die Kleinkinder das Ski fahren :-D. Als ich in die vermeintliche Küche gehen wollte, um dort Geschirr zu spülen, stand ich auf einmal mitten im Zimmer von einem Typen, der im Bett Fernsehen schaute. Ups! Auf meine Nachfrage an der Rezeption wurde mir ein dunkler Keller-Raum gezeigt mit zwei schmuddeligen Waschbecken und einem riesigen Wassertank über meinem Kopf. Ok, jetzt versteh ich, wenn auf den Campingseiten des ADAC steht, die Plätze entsprechen nicht immer mitteleuropäischen Standards. Aber es war schon ok. Dafür schien den ganzen Nachmittag und Abend die Sonne, wir hatten einen super Ausblick und eine gute Internetverbindung um wieder mal mit der Familie zuhause zu telefonieren. 
</p>
<table data-title='2012-07-19-estland' data-offset='4'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-19-estland/3.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-19-estland/4.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-19-estland/5.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-07-19-10-55-europa-estland_R.small.gpx"></div>
</p>
<p>Am nächsten Morgen war zunächst Hausarbeit angesagt, sprich: den Bus-Boden rauswischen. Oh man, wenn das zuhause nur auch immer so schnell gehen würde ... Dann fuhren wir in den Gaujas-Nationalpark. Die Gauja ist übrigens der längste Fluss Lettlands und die Gegend drum herum eine der beliebtesten Ferienregionen des Landes. Der erste Eindruck war auch wirklich schön: Dichte und lichte Wälder, dazwischen Seen und natürlich der Fluss. Wir machten einen Stopp an einem riesigen weißen Sandsteinfelsen, angeblich dem größten im ganzen Baltikum. Obwohl es natürlich verboten ist, haben sich tausende Leute in dem weichen Gestein verewigt. Das sah auf der einen Seite ganz interessant aus, was es dort an Skizzen und Inschriften zu sehen gab. Auf der anderen Seite war der Stein dadurch zerstört und sah nicht mehr natürlich aus. Trotzdem war’s schön dort, erinnerte uns der Fels doch auch ein wenig an die Fränkische Schweiz. An dem Parkplatz konnten wir auch das erste mal das Werkzeug nutzen, dass wir mit uns herumfahren. Ein Radreisender hatte Probleme mit seinem Sattel und da hatten wir natürlich die passenden Schraubenschlüssel dabei! Danach fuhren wir weiter, da wir uns einen Zeltplatz in der Nähe von Cesis herausgesucht hatten. Die Straßen im Nationalpark waren heftig. Ein Schlagloch jagte das Nächste und unsere Durchschnittsgeschwindigkeit verringerte sich auf maximal 40 kmh. Die letzten Meter ging es dann wieder einmal einen kleinen Waldweg entlang auf dem man einfach nur hofft, dass am Ende da auch der gewünschte Platz ist, oder man wenigstens irgendwo wenden kann. An unserem Übernachtungsplatz am Fluss standen zahlreiche Johannisbeersträucher und während sich Marco mal wieder am Angeln versuchte (leider erfolglos), sammelte ich ein wenig was Gesundes fürs Frühstück.
</p>
<table data-title='2012-07-20-lettland' data-offset='5'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-20-lettland/3.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-20-lettland/4.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-07-20-lettland/11.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-07-20-13-22-europa-lettland_R.small.gpx"></div></p>
