---
title: 'Die Ansprüche ein bisschen runter schrauben ...'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2012, Europa, Finnland, GPX, Karte, Reise, Route, Urlaub ]
---
<p>24. – 25. Juni (Yli-Nampa, Rovaniemi, Tornio, Simo)
</p>
<p>Nach unserer etwas unruhigen Nacht mit den netten Mücken von nebenan machten wir uns lieber flott auf den Weg und fuhren weiter Richtung Süden. Irgendwie hatten wir schon ein schlechtes Gewissen, weil wir die Landschaft so schnell hinter uns ließen, aber es gab halt auch nicht so viel mehr zu sehen als viel Wald.
</p>
<p>Der Polarkreis war nun nicht mehr weit. Das konnte man aber in Anbetracht der Landschaft gar nicht glauben. Als wir den Polarkreis in Norwegen das letzte Mal überschritten hatten, standen wir auf einer kargen, schneebedeckten Hochebene, wo nichts mehr wuchs. Hier am finnischen Polarkreis in der Nähe von Rovaniemi ist alles grün und blüht gerade in vollen Zügen. Auf dem Weg kamen wir an der „Arctic Circle Hiking Area“ vorbei – das konnten wir uns nicht entgehen lassen. Nach unserem Frühstück auf dem Parkplatz (im Bus, nicht draußen) wagten wir uns in den Wald, der auch hier von unseren „Freunden“ bewohnt war. Dany gab es sich ohne Mückennetz und fuchtelte dafür immer in der Gegend herum. Ich hatte keine Lust mehr auf Mückenstiche im Gesicht und zog mir meinen tollen Fliegennetzhut auf. Sieht nicht so toll aus, hilft dafür aber zu 100% :-) Nach einem herrlichen Ausblick auf den endlos erscheinenden Wald liefen wir zurück zu unserem Bus und fuhren nach Rovaniemi: Der Ort, an dem Santa Claus wohnt, und durch dessen Hütte komischerweise genau der Polarkreis geht. Als wir auf den Parkplatz fuhren, trauten wir unseren Augen kaum. Da stand das Auto von Frank und Martine aus Holland. Was für ein Zufall, denn die beiden haben wir ja in Hammerfest das letzte Mal gesehen und wir machten danach ja noch unseren Abstecher ans Nordkap. Als wir die beiden im Touristentrubel trafen, war die Freude groß und wir waren ein bisschen beruhigt, dass andere auch ein bisschen schneller durch Lappland fahren ;-)
</p>
<p>Wir besuchten dann noch den „richtigen“ Santa Claus, der angeblich 24x7 auf seinem Stuhl sitzt und Besuch empfängt – und natürlich immer der gleiche ist!
</p>
<p>Schon komisch, wenn man mitten im Sommer bei Sonnenschein durch eine Touristenattraktion läuft, in der es von geschmückten Weihnachtsbäumen nur so wimmelt. Naja, wenigstens war es der 24.06. – noch genau 6 Monate bis es dann wirklich wieder soweit ist.
</p>
<p>Frank erzählte uns von einem Pizza-Buffet in der Stadt und uns beiden lief das Wasser im Mund zusammen .... mhhhh, Pizza, wie lange hatten wir denn das schon nicht mehr gegessen??? Während unseres Stadtbummels in Rovaniemi wurden wir fündig und entschlossen uns in das etwas heruntergekommene Restaurant zu gehen. War dann zwar eher so ähnlich wie PizzaHut, aber es gab Rentierpizza mit Jalapenos :-D – komische Zusammenstellung, aber lecker.
</p>
<p>Vollgefuttert machten wir uns aus der Heimat des Weihnachtsmannes auf Richtung Meer. Dort angekommen suchten wir uns einen Übernachtungsplatz und hingen diesmal für die Nacht unser zusätzliches Innenfliegennetz auf ...
</p>
<table data-title='2012-06-24-finnland'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-06-24-finnland/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-06-24-finnland/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-06-24-finnland/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-06-24-09-03-europa-finnland_R.small.gpx"></div>
</p>
<p>Und diese Sonderkonstruktion ist ein absoluter Traum! Die Nacht war sooo erholsam und wir konnten mal so richtig ausschlafen. In der Früh wollte ich eigentlich noch mal unserem Wein hinterher telefonieren, nachdem wir ja jetzt sehr nah an der schwedischen Grenze sind. Allerdings haben wir das dann verworfen, weil wir sowieso nicht hier warten würden, bis der Wein noch mal hier her geliefert wird. Wir beschlossen aber zumindest mal einen Blick auf den Campingplatz zu werfen, der unser Weinpaket nicht angenommen hat. Der Platz liegt an einem Fluss mit spektakulären Stromschnellen, die wir sowieso anschauen wollten. An den Stromschnellen angekommen suchten wir erst mal das Spektakuläre – irgendwie ist man nach 5 Wochen Norwegen was anderes von „spektakulär“ gewohnt. 13 Meter Gefälle auf 3,5 Kilometer. RESPEKT :-)
</p>
<p>In unserem Reiseführer stand, dass die nächste größere Stadt nur im Winter was besonderes ist ... tja, dann fahren wir halt auch hier dran vorbei! Kurz vor Simo gab es ein Schild „Badeplatz“ und nachdem man ja bald einen Kaffee trinken könnte, bogen wir ein und fuhren bis zum Meer. Bei der Ankunft war schnell klar ... hier bleiben wir! Eine super Feuerstelle mit Holz, Blick aufs Meer und weit weg von einer Straße. Leider hatten wir nichts zum Grillen, aber da es ja erst 14 Uhr war, beschlossen wir noch eine schöne Fahrradtour nach Simo zu machen um uns für den Abend zu rüsten. Original finnische Würstl (also so a richtige fränkische Bratwurst ist uns da schon lieber) am Stecken und finnisches Bier ... so grillt man hier ;-) Ab und an kam ein Boot in den Hafen und die Sonne ging auch heute sehr lange nicht unter ....
</p>
<table data-title='2012-06-25-finnland'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-06-25-finnland/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-06-25-finnland/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2012-06-25-finnland/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="<%= @site.base_url %>/gpx/2012-06-25-10-24-europa-finnland_R.small.gpx"></div></p>
