---
title: 'Kroatien Tag 1'
author: 'Marco Knuettel'
layout: blog-post
tags: [ 2011, Europa, Karte, Kroatien, Urlaub ]
---
<table data-title='2011-09-03-kroatien'>
<tr>
<td><a><img src='<%= @site.base_url %>/posts/assets/2011-09-03-kroatien/1.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2011-09-03-kroatien/2.jpg'/></a></td>
<td><a><img src='<%= @site.base_url %>/posts/assets/2011-09-03-kroatien/3.jpg'/></a></td>
</tr>
</table>
<p><div class="map" gpx="<%= @site.base_url %><%= @site.base_url %>/gpx/2011-09-03-04-49-kroatien-01.compact.gpx"></div>
</p>
<p><div class="map" gpx="<%= @site.base_url %><%= @site.base_url %>/gpx/2011-09-03-16-07-kroatien-01.compact.gpx"></div></p>
