!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %meta{ :language => 'deutsch, de' }
    %meta{ :copyright => 'Marco Knuettel' } 
    %meta{ :author => 'Marco Knuettel' } 
    %meta{ :keywords => 'Reise 2012 Europareise Weltreise Europa Sabatical Auszeit Busausbau Transit Camping Outdoor Bus Umbau Standheizung Innenausbau Kroatien Dänemark Norwegen Schweden Finnland Litauen Lettland Allrad Mountainbike Slackline Klettern' } 
    %meta{ :description => 'Reise 2012 Europareise Weltreise Europa Sabatical Auszeit Busausbau Transit Camping Outdoor Bus Umbau Standheizung Innenausbau Kroatien Dänemark Norwegen Schweden Finnland Litauen Lettland Allrad Mountainbike Slackline Klettern' }
    %title buessli.eu - #{page.title}
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/buessli.css" }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/jquery-1.8.0.min.js" }
    %script{ :type=>'text/javascript', :src=>"https://maps-api-ssl.google.com/maps/api/js?sensor=false" }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/maps.js" }

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32171087-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body{:base => "#{site.base_url}"}
    %center
      %table.body
        %tr
          %td.header
            %a.brand{ :href=>"#{site.base_url}" } buessli.eu - Europareise 2012
            %a{ :href=>"#{site.base_url}/panorama.html" } Panorama
            %a{ :href=>"#{site.base_url}/route.html" } Route
            %a{ :href=>"#{site.base_url}/busausbau.html" } Busausbau
            %a{ :href=>"#{site.base_url}/impressum.html" } Impressum
            %a{ :href=>"http://www.facebook.com/buessli" } Facebook
        %tr
          %td.picture
        %tr
          %td.content
            ~ content
        %tr
          %td.footer
            %p &copy; www.buessli.eu #{Date.today.year}
  
